%h2 Contact

%button hello@viewthought.com
%p 561-320-1117

%p We would love to speak with you about your project! Feel free to call, email, or complete the inquiry form below and hit send.

%form
  %fieldset
    %ol
      %li
        %label Full name
        %input
      %li
        %label Email address
        %input
      %li
        %label Phone number
        %input
      %li
        %label Tell us a little about your project
        %textarea
      %li
        %button Send

%p As a company we work together around the idea that what you see on the Web, no matter on what device, can and should be beautiful, easy-to-use and right for the device you're using.
