%h2 Contact
= render :partial => 'pages/content/contact_call_to_action'
= render :partial => 'pages/content/contact_invitation'
= render :partial => 'pages/content/contact_form_short'
= render :partial => 'pages/content/contact_blurb'
