- content_for :title do
  Contact

%h2 Contact
%p Well thought out, intuitive online user experiences that look exceptional on any device is our passion.
%button hello@viewthought.com
%p 561-320-1117
%p We would love to speak with you about your project! Feel free to call, email, or complete the inquiry form below and hit send.
= render :partial => 'pages/contact_form_short'
