#hero
  .container
    .tagline
      %h1 Builders of Mobile and Desktop Web Solutions
      %p We would be happy to design and build your site from scratch, improve on what you have, or augment your existing team.
    .start-project
      %button Start A Project
      -# %a{:href => 'tel:561-320-1117', :title => 'Main Number'} 561-320-1117

#quote
  .container
    .quote
      %blockquote At ViewThought we think about your business, your market, key business requirements, growth opportunities. We don't just build technology widgets, but technology solutions that enhance your value proposition.
      %p - Chris Maxwell, founder of ViewThought
