.hero
  %h1 Builders of Mobile and Desktop Web Solutions
  %p We would be happy to design and build your site from scratch, improve on what you have, or augment your existing team.
.start-project
  %button Start A Project
  %a{:href => 'tel:561-320-1117', :title => 'Main Number'} 561-320-1117
