%h2 Labs
%p We like to share our code, what we learn, things that were experimenting on...

%dl
  %dt Foundation Markup
  %dd A collection of Rails front end view templates to start off any project on the right foot.
  %dd https://github.com/maxxiimo/base-haml

  %dt Foundation Styles
  %dd All the foundation styles we typically use in a brand-new project.
  %dd https://github.com/maxxiimo/base-css

  %dt Reset Styles
  %dd Normalize.css converted to .sass and .scss, HTML5/Mobile Boilerplate's Normalize files converted to .sass, and Eric Meyer's original reset 2.0 converted to .sass.
  %dd https://github.com/maxxiimo/base-resets

  %dt Mobile Foundation
  %dd Examples of different mobile delivery implementations such as user agent sniffing and Responsive Web Design.
  %dd https://github.com/maxxiimo/base-mobile
