%h2 Team

%ul.team
  %li
    = link_to image_tag('fixtures/shim.gif', :alt => '', :width => '75', :height => '75'), root_path, :title => ''
    %span DEVELOPER
  %li
    = link_to image_tag('fixtures/shim.gif', :alt => '', :width => '75', :height => '75'), root_path, :title => ''
    %span DESIGNER
  %li
    = link_to image_tag('fixtures/shim.gif', :alt => '', :width => '75', :height => '75'), root_path, :title => ''
    %span ARTIST
  %li
    = link_to image_tag('fixtures/shim.gif', :alt => '', :width => '75', :height => '75'), root_path, :title => ''
    %span DEVELOPER

%h3 Our Method
%p We love what we do: bringing together great design and great code to make mobile and Web applications look amazing across all devices no matter how big or small.
%p To do this we begin with a kickoff meeting, where we get to know you, your company, project, market, target audience, goals, key business requirements, and so forth. We come to an understanding, a plan, and an agreement. From there we get to work! We believe in an iterative approach, where all stakeholders are involved in producing your application from start to finish and in a manner that makes sense. We like to deploy often and frequently, iteratively, with the goal of reaching perfection.

%button Want to Hire Us?
