%h2 Work

.portfolio
  = link_to image_tag('fixtures/shim.gif', :alt => '', :width => '75', :height => '75'), root_path, :title => ''
  = link_to image_tag('fixtures/shim.gif', :alt => '', :width => '75', :height => '75'), root_path, :title => ''
  = link_to image_tag('fixtures/shim.gif', :alt => '', :width => '75', :height => '75'), root_path, :title => ''
  = link_to image_tag('fixtures/shim.gif', :alt => '', :width => '75', :height => '75'), root_path, :title => ''

%p "Working with ViewThought was second to none." - Chris Maxwell, CEO Ojala, Inc.

%p We are a Ruby on Rails development shop located in West Palm Beach, Florida. We specialize in mobile development, front end coding on a Rails stack, beautiful design, and ensuring that what your users view looks exceptional on any device they use.

%ul
  %li Ruby on Rails
  %li Mobile Web
  %li UI/UX
  %li Website and email templates
  %li Front end optimization
  %li Design
