%h2 Work
= render :partial => 'pages/content/work_portfolio'
= render :partial => 'pages/content/work_testimonial'
= render :partial => 'pages/content/work_blurb'
= render :partial => 'pages/content/work_competencies'
