%h2 Work

.portfolio
  = link_to image_tag('fixtures/shim.gif', :alt => '', :width => '75', :height => '75'), root_path, :title => ''
  = link_to image_tag('fixtures/shim.gif', :alt => '', :width => '75', :height => '75'), root_path, :title => ''
  = link_to image_tag('fixtures/shim.gif', :alt => '', :width => '75', :height => '75'), root_path, :title => ''
  = link_to image_tag('fixtures/shim.gif', :alt => '', :width => '75', :height => '75'), root_path, :title => ''

%p "The handshake between beautiful design and logic." - Chris Maxwell, CEO Ojala, Inc.

%p We are a Ruby on Rails development shop located in West Palm Beach, Florida  specializing in mobile development, front end coding, beautiful design, and usability testing. We pay special attention to ensuring that what your users view looks exceptional on any device they use.

%ul
  %li Ruby on Rails
  %li Mobile Web
  %li Cross device UI/UX
  %li Website and email templates
  %li Front end optimization
  %li Design
