/* Case Study
  ----------------------- */

#case-study-1, #case-study-2
  position: relative
  padding: $padding-4 0
  // background-color: $white

  +at-breakpoint($break6)
    padding: $padding-6 0

.case-study-1, .case-study-2
  p
    margin-top: 0
  ul
    margin-bottom: 0

#atcstar, #aqqaluktrust
  position: relative
  background-color: $white

#aqqaluktrust
  margin: 0 0 $margin-4

  +at-breakpoint($break6)
    margin: 0 0 $margin-6

.atcstar, .aqqaluktrust
  text-align: center

.aqqaluktrust
  overflow: hidden
  height: 150px

  +at-breakpoint($break6)
    height: 220px
