/* Google Map
  -----------------------

#contact-hero
  position: relative
  background-color: $white
  // 12.85 + 3.034
  height: 15.884em
  &:after
    +panel-shadow(.15)

#map
  width: 100%
  height: 100%
  background-color: $white

// JavaScript fallback

.no-js #map
  background: image-url("map-320.gif") 50% 50% no-repeat

  +at-breakpoint($break6)
    background: image-url("map-600.gif") 50% 50% no-repeat

#who-we-are
  position: absolute
  bottom: 0
  padding: ($padding-4 / 3) 0
  width: 100%
  background-color: $black-1
  background-color: rgba(115, 115, 115, .8)
  border-top: 1px solid $black-1

  +at-breakpoint($break6)
    padding: ($padding-6 / 3) 0

.who-we-are
  p
    margin: 0
    font-size: 1.159em
    color: $dark-white

  +at-breakpoint($break6)
    p
      // 1 + .236
      font-size: 1.236em


/* Email Us
  -----------------------

#email-us
  position: relative
  padding: $padding-4 0
  background-color: $white
  &:before
    +panel-shadow(.15)

  +at-breakpoint($break6)
    padding: $padding-6 0

.email-us
  p
    margin: 0
    font-size: 1.159em

  +at-breakpoint($break6)
    p
      // 1 + .236
      font-size: 1.236em

/* Button

.email-button
  margin-bottom: 1.618em
  text-align: center
  button
    +sassy-button
    font-size: 1.159em

  +at-breakpoint($break6)
    margin-bottom: 1.875em
    button
      // 1 + .274
      font-size: 1.274em


/* Contact Form
  -----------------------

#contact-form
  position: relative
  padding: $padding-4 0
  color: $dark-white
  background-color: $black-3

  +at-breakpoint($break6)
    padding: $padding-6 0

.contact-intro
  p
    margin: -.274em 0 1.159em

  +at-breakpoint($break6)
    p
      // margin-bottom: 1.159em
      font-size: 1.159em

.contact-form
  p
    margin: 0 0 1.618em
  input, textarea
    width: 100%
  input
    height: 1.618em
    outline: none
  textarea
    height: 7.942em
  .button
    text-align: center
  button
    +sassy-button

  +at-breakpoint($break6)
    .button
      text-align: left
