/* Contact Form
  -----------------------

#contact-us
  position: relative
  padding: $padding-4 0 $padding-4 / 2
  color: $dark-white
  background-color: $black-3

  +at-breakpoint($break6)
    padding: $padding-6 0 $padding-6 / 2

.contact-intro
  p
    margin: 0 0 $margin-4 / 2
    font-size: 1em + .443

  +at-breakpoint($break6)
    p
      margin: 0 0 $margin-6 / 2
      font-size: 1.618em

.contact-info
  margin-bottom: 1.159em
  a
    line-height: 1
    padding: $nav-pad-4 / 4
    font-size: 1em + .236
    +link-colors($link-nav, $link-nav, $link-nav, $link-nav, $link-nav)
    &:hover
      text-decoration: none
      color: $lime
  .phone-number,  .social-links
    display: inline-block
  .social-links
    float: right
    margin-left: 1em

  +at-breakpoint($break6)
    a
      padding: $nav-pad-6 / 4
      font-size: 1em + .382

.contact-form
  p
    margin: 0 0 1.618em
  input, textarea
    width: 100%
    box-sizing: border-box
  input
    height: 1.618em
    outline: none
  textarea
    height: 2.618em
  .textarea
    position: relative
    &:before
      content: ""
      display: block
      position: absolute
      bottom: -28px
      left: 50%
      width: 0
      border-width: 0 0 30px 30px
      border-style: solid
      border-color: transparent $white
    // &:after
    //   content: ""
    //   display: block
    //   position: absolute
    //   bottom: -30px
    //   left: 50%
    //   width: 0
    //   border-width: 0 0 30px 20px
    //   border-style: solid
    //   border-color: transparent $black-3
  .button
    margin-top: 3em
    text-align: center
  button
    +sassy-button

  +at-breakpoint($break6)
    .button
      text-align: left
    .textarea:before
      left: 80px


/* Email Us
  -----------------------

#email-us
  position: relative
  padding: $padding-4 0
  background-color: $white
  &:before
    +panel-shadow(.15)

  +at-breakpoint($break6)
    padding: $padding-6 0

.email-us
  p
    margin: 0 0 1 + .443em
    font-size: 1em + .443

  +at-breakpoint($break6)
    p
      font-size: 1em + .618

/* Button

.email-button
  position: relative
  text-align: center
  span
    position: absolute
    top: .618em
    left: 0
    +hidden
  a
    +sassy-button
    font-size: 1.159em

  +at-breakpoint($break6)
    font-size: 1em + .274


/* Google Map
  -----------------------

#in-person
  position: relative
  background-color: $white
  height: 12.85em + 3.034
  &:after
    +panel-shadow(.15)

#map
  width: 100%
  height: 100%

// JavaScript fallback

.no-js #map
  background: image-url("smush_map-320.png") 50% 50% no-repeat

  +at-breakpoint($break6)
    background: image-url("smush_map-600.png") 50% 50% no-repeat

#map-overlay
  position: absolute
  bottom: 0
  padding: ($padding-4 / 3) 0
  width: 100%
  background-color: $black-1
  background-color: rgba(115, 115, 115, .8)
  border-top: 1px solid $black-1

  +at-breakpoint($break6)
    padding: ($padding-6 / 3) 0

.map-overlay
  p
    margin: 0
    font-size: 1em + .236
    color: $dark-white

  +at-breakpoint($break6)
    p
      font-size: 1em + .382
