/* Hero
  -----------------------

#hero
  position: relative
  padding: .716em 0 1.159em
  background-color: $navy-blue

  +at-breakpoint($break6)
    // 1 + .443
    padding: 1.443em 0 1.618em

/* Tagline

.tagline
  h2
    margin: 0
    font-size: 1.618em
    color: $dark-white
  p
    margin: .443em 0 0
    font-size: 1.159em
    color: $whitesmoke

  +at-breakpoint($break6)
    h2
      font-size: 1.875em
    p
      // 1 + .236
      font-size: 1.236em

/* Button

.start-project
  text-align: center
  margin-top: 1.618em
  button
    +sassy-button
    font-size: 1.159em

  +at-breakpoint($break6)
    +span-columns(6, $break6)
    text-align: left
    margin-top: 1.875em
    button
      // 1 + .274
      font-size: 1.274em


/* Blurb
  -----------------------

#blurb
  position: relative
  padding: $padding-4 0
  background-color: $white

  +at-breakpoint($break6)
    padding: $padding-6 0

  &:before
    +divider-top($black-1, $padding-4, 45%)

    +at-breakpoint($break6)
      top: $padding-6 / 1.5

  &:after
    +divider-bottom($black-1, $padding-4, 45%)

    +at-breakpoint($break6)
      bottom: $padding-6 / 1.5

.blurb
  p
    margin: 0
    font-size: 1.236em
    text-align: center

  +at-breakpoint($break6)
    p
      font-size: 1.618em


/* Manifesto
  -----------------------

#manifesto
  position: relative
  padding:  $padding-4 0
  padding-bottom: $padding-4
  background-color: darken($gray, 5)
  &:after
    +panel-shadow(.07)

  +at-breakpoint($break6)
    padding:  $padding-6 0

.manifesto
  h2, p
    margin: 0
  h2
    margin-bottom: .236em
    // 1 + .382
    font-size: 1.382em
  p
    font-size: 1em

  +at-breakpoint($break6)
    h2
      margin-bottom: .443em
      // 1 + .443
      font-size: 1.443em
    p
      font-size: 1.159em


/* Quote
  -----------------------

#quote
  position: relative
  padding-top: $padding-4
  height: 20.792em
  background-color: $white
  &:after
    +panel-shadow(.15)

  +at-breakpoint($break6)
    padding-top: $padding-6

.quote
  +span-columns(3, 4)
  blockquote
    margin: 0
    // 1 + .169
    font-size: 1.169em
    color: $whitesmoke
  .giant-quote
    display: block
    float: left
    line-height: 1
    padding-right: .443em
    font-size: 2.618em
  p
    margin-bottom: 0
    font-family: $base-font-header
    font-size: .716em
    color: $black-2
    +opacity(.35)
  span
    +hidden

  +at-breakpoint($break6)
    +span-columns(4, $break6)
    blockquote
      // 1 + .274
      font-size: 1.274em
    p
      font-size: 1em
