/* Photo Hero
  -----------------------

#photo-hero
  position: relative
  height: 20.792em
  padding: .716em 0 1.159em
  background-color: $white
  &:after
    +panel-shadow(.15)

  +at-breakpoint($break6)
    padding: (1em + .443) 0 1.618em

/* Tagline

.white-box
  padding: 0 .443em
  background-color: rgba(255, 255, 255, .05)
  +border-radius(4px)

.tagline
  h2
    line-height: 1 + .443
    margin: 0
    font-size: 1.618em
    // @extend .white-box
  p
    margin: .443em 0 0
    font-size: 1.159em

  +at-breakpoint($break6)
    +span-columns(4, $break6)
    h2
      font-size: 1.875em
    p
      font-size: 1.159em

.first
  +hidden

.second
  // +hidden

/* Mobile Icons

.mobile-icons
  +hidden

/* Button

.start-project
  // margin-top: 1.159em
  margin-top: 1.618em
  .button
    +sassy-button
    font-size: 1.159em

  +at-breakpoint($break6)
    +span-columns(6, $break6)
    margin-top: 1.875em
    .button
      font-size: 1em + .274


/* Blurb
  -----------------------

#blurb
  position: relative
  padding: $padding-4 0
  background-color: $white

  +at-breakpoint($break6)
    padding: $padding-6 0

  &:before
    +divider-top($padding-4, 45%)

    +at-breakpoint($break6)
      top: $padding-6 / 1.5

  &:after
    +divider-bottom($padding-4, 45%)

    +at-breakpoint($break6)
      bottom: $padding-6 / 1.5

.blurb
  p
    margin: 0
    font-size: 1em + .236
    text-align: center
  &:after
    +panel-shadow(.15)

  +at-breakpoint($break6)
    p
      font-size: 1.618em


/* How
  -----------------------

#how
  position: relative
  padding: $padding-4 0
  border-color: $blue-gray
  background-color: $blue-gray
  &:after
    content: ""
    position: absolute
    top: 100%
    left: 50%
    margin-left: -20px
    border-top: 20px solid blue
    border-top-color: inherit
    border-left: 20px solid transparent
    border-right: 20px solid transparent

  +at-breakpoint($break6)
    padding: $padding-6 0

.how
  h2
    line-height: 1
    margin: 0
    font-size: 1.618em
  p
    margin: .443em 0 0
    font-size: 1.159em

  +at-breakpoint($break6)
    h2
      font-size: 1.875em
    p
      font-size: 1.159em


/* Process
  -----------------------

#process
  position: relative
  padding: $padding-4 0
  background-color: $white
  z-index: -1

  +at-breakpoint($break6)
    padding: $padding-6 0

/* Intro

.process
  position: relative
  margin-bottom: 1em + .274

  +at-breakpoint($break6)
    margin-bottom: 1em + .443

/* List

#process ul
  margin: 0
  li
    clear: both
    list-style: none

/* Circles

.circle
  float: left
  +circle-border($size: (1.159em * 2), $border: 3px, $color: $lime)
  margin: 0 0 -37px
  span
    line-height: 2
    font-size: 1.159em

  +at-breakpoint($break6)
    +circle-border($size: (1.875em * 2), $border: 4px, $color: $lime)
    margin: 0
    span
      line-height: (1.875em * 1.07)
      font-size: 1.875em

/* Steps

.discovery, .development, .repeat
  float: right
  width: 100%
  h3
    margin-left: 55px

  +at-breakpoint($break6)
    width: 80%
    h3
      margin-left: 0

/* Button

.hire-button
  clear: both
  text-align: center
  .button
    +sassy-button
    margin-top: 1.618em
    font-size: 1.159em

  +at-breakpoint($break6)
    .button
      margin-top: 1.875em
      font-size: 1em + .274
