/* Hero
  -----------------------

#hero
  height: 20.792em
  background-color: $bg-hero


/* Tagline
  -----------------------

.tagline
  padding-top: .716em
  h1
    margin: 0
    font-size: 1.618em
  p
    margin: .443em 0 0
    font-size: 1.159em

  +at-breakpoint($break6)
    +span-columns(4, $break6)
    h1
      font-size: 1.875em
    p
      // 1 + .169
      font-size: 1.169em


/* Button
  -----------------------

.start-project
  text-align: center
  button
    // 1 + .274
    margin-top: 1.274em
    +sassy-button
    font-size: 1.159em
  // a
  //   display: block
  //   margin-top: .443em
  //   font-family: $base-font-nav
  //   font-size: 1.618em
  //   color: $nav-color

  +at-breakpoint($break6)
    +span-columns(6, $break6)
    text-align: left


/* Quote
  -----------------------

#quote
  background-color: $bg-quote

$quote-padding-4: 2.618em
$quote-padding-6: 3.034em

.quote
  +clearfix
  position: relative
  padding: $quote-padding-4 0
  text-align: center
  blockquote
    margin: 0
    font-size: 1.159em
  p
    margin-bottom: 0
    font-family: $base-font-header
    font-size: 1.159em
    color: $blue-gray
    +opacity(.35)

  +at-breakpoint($break6)
    +span-columns(5, $break6)
    padding: $quote-padding-6 $column-width/2
    blockquote
      // 1 + .169
      font-size: 1.169em

.quote:before
  content: ""
  position: absolute
  top: $quote-padding-4 / 1.5
  bottom: $quote-padding-4 / 1.5
  right: 45%
  left: 45%
  border-top: 1px solid $gray
  border-bottom: 1px solid $gray

  +at-breakpoint($break6)
    top: $quote-padding-6 / 1.5
    bottom: $quote-padding-6 / 1.5
