@viewport
  width: device-width
  zoom: 1

@-ms-viewport
  width: device-width
  zoom: 1


/*  Base
  -----------------------

html, button, input, select, textarea
  font-family: $base-font-family
  color: $base-font-color

body
  position: relative
  font-size: $base-font-size
  line-height: $base-line-height
  background-color: $bg-body
  z-index: -5613201117

.wrapper
  position: relative
  margin: 0 auto
  overflow: hidden
  z-index: -5613201115

#main
  position: relative
  z-index: -1000000

.container
  +container($total-columns, $break6)
  // +susy-grid-background

  // +at-breakpoint($break6)
  //   +susy-grid-background

img
  vertical-align: middle


/* Header
  -----------------------

header
  +clearfix
  border-top: .382em solid $gray
  background-color: $bg-header
  +box-shadow(0 1px 3px rgba(0, 0, 0, 0.1))

.viewthought
  float: left
  line-height: 1em
  margin: .236em 0 0
  font-size: 1em + .443
  a
    font-family: $quatro
    text-transform: uppercase
    +link-colors($link-logo, $link-logo, $link-logo, $link-logo, $link-logo)
    &:hover
      text-decoration: none

    .char1, .char5
      font-size: 1em + .146

// TypeKit and JavaScript fallbacks

.wf-loading .logo
  visibility: hidden

.wf-active .logo
  visibility: visible

.no-js .viewthought,
.wf-inactive .viewthought
  width: 192px
  background: image-url("logos/viewthought.gif") -2px -48px no-repeat
  +hide-text

// social icons

header
  #social-links
    +icon-nav(1em + .236, .236em)
    float: left
    a
      display: inline-block
      line-height: 1.6
      padding: 0 $nav-pad-4
      +link-colors($link-nav, $link-nav, $link-nav, $link-nav, $link-nav)

    +at-breakpoint($break6)
      float: right
      a
        padding: 0 $nav-pad-6
        font-size: 1em + .382

// phone number

header
  .phone-number
   +hidden
