/*  Base
  -----------------------

html, button, input, select, textarea
  font-family: $base-font-family
  color: $base-font-color

body
  font-size: $base-font-size
  line-height: $base-line-height
  background-color: $bg-body

.container
  +container
  +susy-grid-background

img
  vertical-align: middle


/*  Header
  -----------------------

header
  +clearfix
  margin-bottom: 1em

.logo
  +span-columns(4.4 omega, 5)
  +prefix(.6)
  line-height: 1.3em
  font-family: $quatro
  font-size: 1.3em
  text-transform: uppercase
  background: image-url("http://dummyimage.com/30x30/d4d4d4/fff.gif") 0 0 no-repeat
  +link-colors(#222, #222, #222, #222, #222)
  &:hover
    text-decoration: none
  .char1, .char5
    font-size: 1.2em
  // .char2, .char3, .char4, .char6, .char7, .char8, .char9, .char10, .char11

.wf-loading .viewthought
  visibility: hidden


/*  Footer
  -----------------------

footer
  clear: both
  margin-top: 1em
  h3, p
    margin: 0

.address
  +span-columns(3, 5)

.connect
  +span-columns(2 omega, 5)
  // h3, .social-links, .tel, .email
    // margin-left: -$gutter-width

.email
  display: block

.social-links
  width: auto
  +horizontal-list
  li
    // width: 1.5em
    // padding: 0
  a
    +link-colors($icon-normal, $icon-hover, $icon-active, $icon-visited, $icon-focus)
    &:hover
      text-decoration: none
    span
      // Fix for icon font clickability issue in WebKit
      display: inline-block

.copyright
  +span-columns(5 omega, 5)
  color: $font-gray
  text-align: center

.copyright, .adr, .tel, .email
  font-size: .85em

