@viewport
  width: device-width
  zoom: 1

@-ms-viewport
  width: device-width
  zoom: 1


/*  Base
  -----------------------

html, button, input, select, textarea
  font-family: $base-font-family
  color: $base-font-color

body
  position: relative
  font-size: $base-font-size
  line-height: $base-line-height
  background-color: $bg-body
  z-index: -5613201117

.wrapper
  position: relative
  // max-width: 1400px
  // min-width: 320px
  margin: 0 auto
  overflow: hidden
  z-index: -5613201115

#main
  position: relative
  z-index: -1000000

.container
  +container($total-columns, $break6)
  // +susy-grid-background

  +at-breakpoint($break6)
    // +susy-grid-background

img
  vertical-align: middle


/* Header
  -----------------------

// navigation in _navigation.sass

header
  +clearfix
  border-top: .382em solid $gray
  background-color: $bg-header
  +box-shadow(0 1px 3px rgba(0, 0, 0, 0.1))

.viewthought
  float: left
  line-height: 1em
  margin: .236em 0
  // 1 + .443
  font-size: 1.443em
  a
    font-family: $quatro
    text-transform: uppercase
    +link-colors($link-logo, $link-logo, $link-logo, $link-logo, $link-logo)
    &:hover
      text-decoration: none

    .char1, .char5
      // 1 + .146
      font-size: 1.146em

  +at-breakpoint($break6)
    margin-top: .236em
    margin-bottom: 0

.wf-loading .logo
  visibility: hidden

.phone
  float: right
  font-family: $base-font-nav
  font-size: 1.236em
  text-align: right
  +link-colors($black-1, $black-2, $black-1, $black-1, $black-1)

.phone
  margin-top: .065em
  +hidden

  +at-breakpoint($break6)
    +reveal-hidden


/* Footer
  -----------------------

footer
  clear: both
  +clearfix
  position: relative
  padding-top: $padding-4
  background-color: $bg-footer
  h3, p
    margin: 0
  &:after
    +panel-shadow(.15)

  +at-breakpoint($break6)
    padding-top: $padding-6

.footer-hide
  +hidden

  +at-breakpoint($break6)
    +reveal-hidden-inline

.address
  +span-columns(2, 4)

  +at-breakpoint($break6)
    +span-columns(3, $break6)

.connect
  +span-columns(2 omega, 4)

  +at-breakpoint($break6)
    +span-columns(3 omega, $break6)

.email
  display: block

// FIXME ccm: possibly convert to non-list?
.social-links
  +icon-nav-list(1em, .236em)

  +at-breakpoint($break6)
    font-size: 1.159em

.adr, .tel, .email
  // 1 - .146
  font-size: .854em

  +at-breakpoint($break6)
    font-size: 1em

.copyright
  position: relative
  +span-columns(4 omega, 4)
  margin-bottom: 1em
  padding-top: 1.382em
  // 1 - .146
  font-size: .854em

  +at-breakpoint($break6)
    +span-columns(6 omega, $break6)
    padding-top: 1.875em
