/*  Main
  -----------------------

ul#nav
  line-height: 0
  +inline-block-list
  padding: 3px 0
  a
    font-size: 170%
    +link-colors($icon-normal, $icon-hover, $icon-active, $icon-visited, $icon-focus)
    &:hover
      text-decoration: none
    span
      // Fix for icon font clickability issue in WebKit
      display: inline-block


/*  Icon Fonts
  -----------------------

[data-icon]:before
  @include data-icon
