/*  Main
  -----------------------

ul#nav
  +inline-block-list
  line-height: 0
  margin: 3px 0
  border: none
  a
    font-size: 170%
    color: #333
    &:hover
      text-decoration: none
      color: green
    span
      // Fix for icon font clickability issue in WebKit
      display: inline-block
