/* Home
  -----------------------

.hero
  margin-bottom: 1em

  +at-breakpoint($break6)
    +span-columns(6 omega, $break6)

.start-project
  text-align: center
  button
    margin: 0 auto
  a
    display: block

  +at-breakpoint($break6)
    +span-columns(3, $break6)
    margin-top: 6em

.tagline
  h1
    margin: 0
    font-size: 1.5em

  +at-breakpoint($break6)
    +span-columns(3 omega, $break6)


/* Work
  -----------------------

.portfolio
  +clearfix
  img
    float: left
    margin: 0 5px 5px 0
    // FIXME ccm: DELETE!
    background-color: gray


/* Team
  -----------------------

.team
  +inline-block-list
  li
    width: 75px
    margin-bottom: 3px
  img
    // FIXME ccm: DELETE!
    background-color: gray
  span
    display: block
    font-size: 60%
    text-align: center
