/* Toggles
  -----------------------

.desktop, .hide-lt-12
  +hidden

.tablet, .hide-lt-9
  +hidden

.smallscreen-hide, .hide-lt-6
  +hidden

  +at-breakpoint($break6)
    +reveal-hidden

// For toggling between phone number markup

.callto
  position: absolute
  top: -9999px
  left: -9999px
  +hidden


/* Pages
  -----------------------

@import "home"
@import "work"
@import "thoughts"
@import "contact"
@import "extra"
