/* Skills
  -----------------------

#skills
  position: relative
  padding: $padding-4 0
  border-color: darken($gray, 5)
  background-color: darken($gray, 5)
  &:before
    +panel-shadow(.05)
  &:after
    content: ""
    position: absolute
    top: 100%
    left: 50%
    margin-left: -20px
    border-top: 20px solid blue
    border-top-color: inherit
    border-left: 20px solid transparent
    border-right: 20px solid transparent

  +at-breakpoint($break6)
    padding: $padding-6 0

.skills
  h2
    line-height: 1
    margin-top: 0
    font-size: 1.618em
    color: $dark-white
    +single-text-shadow(0, 2px, 2px, false, $navy-blue)

  +at-breakpoint($break6)
    h2
      font-size: 1.875em


/* Books
  -----------------------

#books
  position: relative
  padding:  $padding-4 0
  padding-bottom: $padding-4
  background-color: $white
  z-index: -1

  +at-breakpoint($break6)
    padding:  $padding-6 0

.manifesto, .coding-design
  p
    margin: 0
    font-size: 1em

  +at-breakpoint($break6)
    p
      font-size: 1.159em

.coding-design
  margin-top: $margin-4

  +at-breakpoint($break6)
    margin-top: $margin-6

/* Buttons

.manifesto-button, .coding-design-button
  margin-top: 1.618em
  text-align: center
  .button
    +sassy-button(flat, .382em, 1em, $lime)

  +at-breakpoint($break6)
    margin-top: 1.875em
    text-align: left


/* Value
  -----------------------

#value
  position: relative
  padding: $padding-4 0
  background-color: $black-3
  p
    margin: 0
  .ipad
    +hidden

  +at-breakpoint($break6)
    padding: $padding-6 0

.value
  p
    font-size: 1.159em
    color: $dark-white

  +at-breakpoint($break6)
    p
      font-size: 1em + .236


/* Our Mission
  -----------------------

#our-mission
  position: relative
  padding: $padding-4 0
  background-color: $white
  z-index: -2

  +at-breakpoint($break6)
    padding: $padding-6 0

.our-mission
  position: relative
  p
    font-size: 1em + .169
  .desktop span
    color: $orange
  h2
    text-align: center
  li
    position: relative
    margin-bottom: 1.618em
    padding: 1em 1em 1em 3.034em
    font-size: 1em
    counter-increment: step
    list-style: none
    +box-shadow(0 0 10px rgba(0, 0, 0, 0.2))
    +shadow-3
    &:nth-child(3)
      margin-bottom: 0
    span:before
      content: counter(step, upper-roman)
      position: absolute
      top: 0
      left: 0
      width: 1.875em
      line-height: 1.875em
      text-align: center
      color: $white
      background-color: $orange
      // background-color: rgba(242, 101, 19, .7)
      +border-top-left-radius(4px)

  +at-breakpoint($break6)
    li
      font-size: 1em + .169


/* The Point
  -----------------------

#the-point
  position: relative
  padding: $padding-4 0
  border-color: $navy-blue
  background-color: $navy-blue
  &:after
    content: ""
    position: absolute
    top: 100%
    left: 50%
    margin-left: -20px
    border-top: 20px solid blue
    border-top-color: inherit
    border-left: 20px solid transparent
    border-right: 20px solid transparent

  +at-breakpoint($break6)
    padding: $padding-6 0

.the-point
  blockquote
    margin: 0
    font-size: 1em + .169
    color: $white-smoke
  .giant-quote
    display: block
    float: left
    line-height: 1.2
    padding-right: .443em
    font-size: 1em + .274
  p
    margin-bottom: 0
    font-family: $base-font-header
    font-size: .716em
    color: $black-2
    +opacity(.35)

  +at-breakpoint($break6)
    blockquote
      font-size: 1em + .274
    .giant-quote
      line-height: 1
      font-size: 1.618em
    p
      font-size: 1em


/* Tech Icons
  -----------------------

#tech-icons
  position: relative
  padding: $padding-4 0
  background-color: $white
  z-index: -1
  &:after
    +panel-shadow(.15)
  +hidden

  +at-breakpoint($break6)
    padding: $padding-6 0
    +reveal-hidden

.tech-icons
  p
    margin: 0
    font-size: 1em + .236
    text-align: center

  +at-breakpoint($break6)
    span
      display: block
      margin: 2.618em auto 0 auto
      width: 280px
      height: 149px
      background: image-url("logos/tech-icon-sprite-280.png") 0 0 no-repeat


/* Tech Blurb
  -----------------------

#tech-blurb
  position: relative
  padding: $padding-4 0
  background-color: $white

  +at-breakpoint($break6)
    padding-top: 0
    padding-bottom: $padding-6

.tech-blurb
  position: relative
  p
    margin: 0

  +at-breakpoint($break6)
    p
      padding-top: 1.875em
      font-size: 1.159em
    &:before
      +panel-shadow
