/* Work
  -----------------------

#value,
#process,
#work-quote,
#portfolio,
#code,
#competencies
  h3
    margin-top: 0
  p
    margin: 0

#value
  position: relative
  padding: .716em 0 1.159em
  background-color: $black-2
  a
    +hidden

  +at-breakpoint($break6)
    // 1 + .443
    padding: 1.443em 0 1.618em

.value
  p
    font-size: 1.159em
    color: $dark-white

  +at-breakpoint($break6)
    p
      // 1 + .236
      font-size: 1.236em

#process
  background-color: $gray
  p
    margin-bottom: 1em

#work-quote
  background-color: $white

#portfolio
  +clearfix
  background-color: $white
  img
    float: left
    margin: 0 4.909px 4.909px 0
    // FIXME ccm: DELETE!
    background-color: gray

#code
  background-color: $black-1

#competencies
  background-color: $white
