%ul
  %li Website Design and Development
  %li Digital Strategy Consulting
  %li Mobile Development
  %li Content Management Systems (CMS)
  %li E-commerce
  %li Usability/UX
  %li Information Architecture
  %li Content Creation/Review
  %li Traffic analysis, user statistics
  %li Search Engine Optimization (SEO)
  %li Graphic Design, Branding, Identity
  %li Videography/Photography
  %li Website Optimization
  %li Integration
  %li Site maintenance and monitoring
  %li Website Hosting and Security
