%nav{:role => "navigation"}
  %ul#nav
    %li
      %a{:href => "/", :title => 'Home'}
        %span{"aria-hidden" => "true", "data-icon" => "h"}
        %span.ir Home
    %li
      %a{:href => "/work", :title => 'Work'}
        %span{"aria-hidden" => "true", "data-icon" => "w"}
        %span.ir Work
    %li
      %a{:href => "/team", :title => 'Team'}
        %span{"aria-hidden" => "true", "data-icon" => "t"}
        %span.ir Team
    %li
      %a{:href => "/contact", :title => 'Contact'}
        %span{"aria-hidden" => "true", "data-icon" => "p"}
        %span.ir Contact
    %li
      %a{:href => "/thoughts", :title => 'Thoughts'}
        %span{"aria-hidden" => "true", "data-icon" => "i"}
        %span.ir Thoughts
    %li
      %a{:href => "/labs", :title => 'Labs'}
        %span{"aria-hidden" => "true", "data-icon" => "l"}
        %span.ir Labs
