%nav{:role => "navigation"}
  %ul#nav
    %li
      %a.icon-alone{:href => "/work", :title => 'Work'}
        %span{"aria-hidden" => "true", "data-icon" => "\""}
        %span.screen-reader-text Work
    %li
      %a.icon-alone{:href => "/team", :title => 'Team'}
        %span{"aria-hidden" => "true", "data-icon" => "%"}
        %span.screen-reader-text Team
    %li
      %a.icon-alone{:href => "/contact", :title => 'Contact'}
        %span{"aria-hidden" => "true", "data-icon" => "&"}
        %span.screen-reader-text Contact
    %li
      %a.icon-alone{:href => "/thoughts", :title => 'Thoughts'}
        %span{"aria-hidden" => "true", "data-icon" => "$"}
        %span.screen-reader-text Thoughts
    %li
      %a.icon-alone{:href => "/labs", :title => 'Labs'}
        %span{"aria-hidden" => "true", "data-icon" => "!"}
        %span.screen-reader-text Labs
