<nav role="navigation">
  <ul id="nav">
    <li>
      <a title="Home" href="/">
        <span data-icon="&#xe00c;" aria-hidden="true"></span>
        <span class="ir">Home</span>
      </a>
    </li>
    <li>
      <a title="Team" href="/team">
        <span data-icon="&#xe029;" aria-hidden="true"></span>
        <span class="ir">Team</span>
      </a>
    </li>
    <li>
      <a title="Work" href="/work">
        <!--span data-icon="&#xe016;" aria-hidden="true"></span-->
        <!--span data-icon="&#xe00a;" aria-hidden="true"></span-->
        <span data-icon="&#x27;" aria-hidden="true"></span>
        <span class="ir">Work</span>
      </a>
    </li>
    <li>
      <a title="Contact" href="/contact">
        <span data-icon="&#xe006;" aria-hidden="true"></span>
        <span class="ir">Contact</span>
      </a>
    </li>
    <li>
      <a title="Thoughts" href="/thoughts">
        <span data-icon="&#xe005;" aria-hidden="true"></span>
        <span class="ir">Thoughts</span>
      </a>
    </li>
    <li>
      <a title="Labs" href="/labs">
        <span data-icon="l" aria-hidden="true"></span>
        <span class="ir">Labs</span>
      </a>
    </li>
  </ul>
</nav>
