%ul.social
  %li
    %a{:href => "https://www.facebook.com/viewthought", :title => 'Facebook'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x31;".html_safe}
      %span.ir Facebook
  %li
    %a{:href => "https://www.twitter.com/viewthought", :title => 'Twitter'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x32;".html_safe}
      %span.ir Twitter
  %li
    %a{:href => "https://www.github.com/viewthought", :title => 'Github'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x34;".html_safe}
      %span.ir Github
  %li
    %a{:href => "http://www.linkedin.com/company/viewthought", :title => 'LinkedIn'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x35;".html_safe}
      %span.ir LinkedIn
  %li
    %a{:href => "#", :title => 'Flickr'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x33;".html_safe}
      %span.ir Flickr
