<ul class="social">
  <li>
    <a title="Home" href="https://www.facebook.com/viewthought">
      <span data-icon="&#x31;" aria-hidden="true"></span>
      <span class="ir">Facebook</span>
    </a>
  </li>
  <li>
    <a title="Team" href="https://www.twitter.com/viewthought">
      <span data-icon="&#x32;" aria-hidden="true"></span>
      <span class="ir">Twitter</span>
    </a>
  </li>
  <li>
    <a title="Work" href="https://www.github.com/viewthought">
      <span data-icon="&#x34;" aria-hidden="true"></span>
      <span class="ir">Github</span>
    </a>
  </li>
  <li>
    <a title="Contact" href="http://www.linkedin.com/company/viewthought">
      <span data-icon="&#x35;" aria-hidden="true"></span>
      <span class="ir">LinkedIn</span>
    </a>
  </li>
  <li>
    <a title="Thoughts" href="#">
      <span data-icon="&#x33;" aria-hidden="true"></span>
      <span class="ir">Flickr</span>
    </a>
  </li>
</ul>
