/* Google Map
  -----------------------

#contact-hero
  position: relative
  background-color: $white
  // 12.85 + 3.034
  height: 15.884em
  &:after
    +panel-shadow(.15)

  +at-breakpoint($break9)
    height: 33.641em

#map
  width: 100%
  height: 100%
  background-color: $white

// JavaScript fallback

.no-js #map
  background: image-url("map-320.gif") 50% 50% no-repeat

  +at-breakpoint($break6)
    background: image-url("map-600.gif") 50% 50% no-repeat

  +at-breakpoint($break9)
    background: image-url("map-1024.gif") 50% 50% no-repeat

  +at-breakpoint($break12)
    background: image-url("map-1400.gif") 50% 50% no-repeat

#who-we-are
  position: absolute
  bottom: 0
  padding: ($padding-4 / 3) 0
  width: 100%
  background-color: $black-1
  background-color: rgba(115, 115, 115, .8)
  border-top: 1px solid $black-1
  // background-color: $orange
  // background-color: rgba(242, 101, 19, .7)
  // border-top: 1px solid $orange
  // background-color: $lime
  // background-color: rgba(159, 184, 63, .7)
  // border-top: 1px solid $lime
  // background-color: $navy-blue
  // background-color: rgba(1, 46, 88, .6)
  // border-top: 1px solid $navy-blue
  // background-color: $blue-gray
  // background-color: rgba(137, 159, 174, .85)
  // border-top: 1px solid $blue-gray

  +at-breakpoint($break6)
    padding: ($padding-6 / 3) 0

  +at-breakpoint($break9)
    padding: ($padding-9 / 3) 0

  +at-breakpoint($break12)
    padding: ($padding-12 / 3) 0

.who-we-are
  p
    margin: 0
    font-size: 1.159em
    color: $dark-white

  +at-breakpoint($break6)
    p
      // 1 + .236
      font-size: 1.236em

  +at-breakpoint($break9)
    +span-columns(8, $break9)
    +squish(.5, .5)
    p
      font-size: 1.618em

  +at-breakpoint($break12)
    +span-columns(9, $break12)
    +squish(1.5, 1.5)
    p
      font-size: 1.875em


/* Email Us
  -----------------------

#email-us
  position: relative
  padding: $padding-4 0
  background-color: $white
  &:before
    +panel-shadow(.15)

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0

.email-us
  p
    margin: 0
    font-size: 1.159em

  +at-breakpoint($break6)
    p
      // 1 + .236
      font-size: 1.236em

  +at-breakpoint($break9)
    +span-columns(8, $break9)
    +squish(.5, .5)
    p
      font-size: 1.618em

  +at-breakpoint($break12)
    +span-columns(9, $break12)
    +squish(1.5, 1.5)
    p
      font-size: 1.875em

/* Button

.email-button
  margin-bottom: 1.618em
  text-align: center
  button
    +sassy-button
    // +sassy-button(flat, .382em, 1.443em, $orange)
    font-size: 1.159em

  +at-breakpoint($break6)
    margin-bottom: 1.875em
    button
      // 1 + .274
      font-size: 1.274em

  +at-breakpoint($break9)
    margin-bottom: 3.034em
    button
      // 1 + .443
      font-size: 1.443em

  +at-breakpoint($break12)
    // margin-bottom: 4.236em
    button
      font-size: 1.618em


/* Contact Form
  -----------------------

#contact-form
  position: relative
  padding: $padding-4 0
  color: $dark-white
  background-color: $black-3

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0

.contact-intro
  p
    margin: -.274em 0 1.159em

  +at-breakpoint($break6)
    p
      // margin-bottom: 1.159em
      font-size: 1.159em

  +at-breakpoint($break9)
    +span-columns(3, $break9)
    +pre(.5)
    p
      // 1 + .443
      // margin-bottom: 1.443em
      font-size: 1.443em

  +at-breakpoint($break12)
    +span-columns(4, $break12)
    p
      // margin-bottom: 1.681em
      font-size: 1.681em

.contact-form
  p
    margin: 0 0 1.618em
  input, textarea
    width: 100%
  input
    height: 1.618em
    outline: none
  textarea
    height: 7.942em
  .button
    text-align: center
  button
    +sassy-button

  +at-breakpoint($break6)
    .button
      text-align: left

  +at-breakpoint($break9)
    +span-columns(5 omega, $break9)
    +post(.5)
    input
      height: 2em
    textarea
      height: 12.85em

  +at-breakpoint($break12)
    +span-columns(7 omega, $break12)
    input
      height: 2.618em

