/* Contact
  -----------------------

#contact-hero,
#who-we-are,
#contact,
#map
  padding: $padding-12 0
  h3
    margin-top: 0
  p
    margin: 0

#contact-hero
  background-color: $white

#who-we-are
  background-color: $gray

#contact
  background-color: $black-3

#map
  background-color: $white
  height: 10em
