/* Hero
  -----------------------

#hero
  position: relative
  height: 20.792em
  background-color: $bg-hero

  +at-breakpoint($break9)
    // 46.971 - 10
    height: 29.03em

  +at-breakpoint($break12)
    // 46.971 - 10
    height: 36.971em

/* Tagline

.tagline
  padding-top: .716em
  h2
    margin: 0
    font-size: 1.618em
    color: $dark-white
  p
    margin: .443em 0 0
    font-size: 1.159em
    color: $whitesmoke

  +at-breakpoint($break6)
    padding-top: 1.618em
    h2
      font-size: 1.875em
    p
      // 1 + .236
      font-size: 1.236em

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +squish(1, 1)
    padding-top: 3.034em
    h2
      font-size: 2.618em
    p
      font-size: 1.618em

  +at-breakpoint($break12)
    +span-columns(8, $break12)
    +squish(2, 2)
    padding-top: 4.909em

/* Button

.start-project
  text-align: center
  margin-top: 1.618em
  button
    +sassy-button
    font-size: 1.159em

  +at-breakpoint($break6)
    +span-columns(6, $break6)
    text-align: left
    margin-top: 1.875em
    button
      // 1 + .274
      font-size: 1.274em

  +at-breakpoint($break9)
    +span-columns(6, $break9)
    +prefix(1)
    margin-top: 3.034em
    button
      // 1 + .443
      font-size: 1.443em

  +at-breakpoint($break12)
    +span-columns(6, $break12)
    +prefix(2)
    margin-top: 4.236em
    button
      font-size: 1.618em

/* Arrow

.triangle
  position: absolute
  bottom: .169em
  left: 45%
  right: 45%
  text-align: center
  +rotate(45deg)
  a
    font-size: 2.618em
    +text-shadow
    +opacity(.5)
    +link-colors($navy-blue, $blue-gray, $navy-blue, $navy-blue, $navy-blue)
  a:hover
    text-decoration: none

  +at-breakpoint($break9)
    left: 48%
    right: 48%
    bottom: .618em
    a
      font-size: 3.034em


/* Quote
  -----------------------

#quote
  position: relative
  height: 20.792em
  background-color: $bg-quote
  &:after
    +panel-shadow(.15)

  +at-breakpoint($break9)
    height: 46.971em

.quote
  +span-columns(3, 4)
  padding-top: $padding-4
  // text-align: center
  blockquote
    margin: 0
    // 1 + .169
    font-size: 1.169em
    color: $black-2
  p
    margin-bottom: 0
    font-family: $base-font-header
    font-size: .716em
    color: $black-2
    +opacity(.35)
  span
    +hidden

  +at-breakpoint($break6)
    +span-columns(4, $break6)
    padding-top: $padding-6
    blockquote
      // 1 + .274
      font-size: 1.274em
    p
      font-size: 1em

  +at-breakpoint($break9)
    +span-columns(5, $break9)
    +prefix(1)
    padding-top: $padding-9
    blockquote
      font-size: 1.618em
    p
      // 1 + .274
      font-size: 1.274em
    span
      +reveal-hidden
      display: inline  !important

  +at-breakpoint($break12)
    +span-columns(6, $break12)
    padding-top: $padding-12


/* Manifesto
  -----------------------

#manifesto
  position: relative
  background-color: $bg-manifesto
  &:after
    +panel-shadow

  +at-breakpoint($break9)
    .manifesto
      +span-columns(5 omega, $break9)
      +prefix(4)
      padding-top: $padding-9
      padding-bottom: $padding-9
      background: image-url("icons/devices-280px.png") 0 ($padding-9 * 1.25) no-repeat

  +at-breakpoint($break12)
    .manifesto
      +span-columns(7 omega, $break12)
      +prefix(5)
      padding-top: $padding-12
      padding-bottom: $padding-12
      background: image-url("icons/devices.png") 0 ($padding-12 * 1.1) no-repeat

.manifesto
  +clearfix
  padding: $padding-4 0
  h3, p
    margin: 0
  h3
    margin-bottom: .236em
    // 1 + .382
    font-size: 1.382em
  p
    font-size: 1em

  +at-breakpoint($break6)
    h3
      margin-bottom: .443em
      // 1 + .443
      font-size: 1.443em
    p
      font-size: 1.159em

  +at-breakpoint($break9)
    h3
      margin-bottom: .443em
      font-size: 1.875em
    p
      font-size: 1.159em
