/* Photo Hero
  -----------------------

#photo-hero
  position: relative
  height: 20.792em
  padding: .716em 0 1.159em
  background-color: $white
  &:after
    +panel-shadow(.15)

  +at-breakpoint($break6)
    padding: (1em + .443) 0 1.618em

  +at-breakpoint($break9)
    padding: 2.618em 0 $padding-9
    // height: 46.971em - 10
    height: 33.641em - 2

  +at-breakpoint($break12)
    padding: 4.236em 0 $padding-12

// JavaScript fallback

.no-js #photo-hero
  background: image-url("pics/silhouette-320-maximum.jpg") 50% 50% no-repeat

  +at-breakpoint($break6)
    background: image-url("pics/smush_silhouette-600-maximum.jpg") 50% 50% no-repeat

  +at-breakpoint($break9)
    background: image-url("pics/smush_silhouette-1024-maximum.jpg") 50% 50% no-repeat

  +at-breakpoint($break12)
    background: image-url("pics/smush_silhouette-1400-maximum.jpg") 50% 50% no-repeat

/* Tagline

.tagline
  h2
    line-height: 1 + .443
    margin: 0
    font-size: 1.618em
  p
    margin: .443em 0 0
    font-size: 1em + .236

  +at-breakpoint($break6)
    +span-columns(4, $break6)
    h2
      font-size: 1.875em
    p
      font-size: 1em + .382

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +prefix(.5)
    h2
      font-size: 2.618em
    p
      font-size: 1em + .443
      span
        display: block
    span
      display: inline !important

  +at-breakpoint($break12)
    +span-columns(8, $break12)
    +prefix(1)
    h2
      font-size: 3.034em
    p
      font-size: 1.618em

.first
  // +hidden

.second
  +hidden

/* Button

.start-project
  margin-top: 1.618em
  .button
    +sassy-button
    font-size: 1.159em

  +at-breakpoint($break6)
    +span-columns(6, $break6)
    margin-top: 1.875em
    .button
      font-size: 1em + .274

  +at-breakpoint($break9)
    +span-columns(6, $break9)
    +prefix(.5)
    margin-top: 3.034em
    .button
      font-size: 1em + .443

  +at-breakpoint($break12)
    +span-columns(6, $break12)
    +prefix(1)
    margin-top: 4.236em
    .button
      font-size: 1.618em


/* About Us
  -----------------------

#about-us
  position: relative
  padding: $padding-4 0
  background-color: $white

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0

  &:before
    +divider-top($padding-4, 45%)

    +at-breakpoint($break6)
      top: $padding-6 / 1.5

    +at-breakpoint($break9)
      top: $padding-9 / 1.5

    +at-breakpoint($break12)
      top: $padding-12 / 1.5

  &:after
    +divider-bottom($padding-4, 45%)

    +at-breakpoint($break6)
      bottom: $padding-6 / 1.5

    +at-breakpoint($break9)
      bottom: $padding-9 / 1.5

    +at-breakpoint($break12)
      bottom: $padding-12 / 1.5

.about-us
  p
    margin: 0
    font-size: 1em + .443
    text-align: center
  .devices
    margin: 1em + .443 auto (1em + .443) / 2
    width: 150px
    height: 85px
    // background: image-url("icons/devices-150.png") 0 0 no-repeat
    background: image-url("smush_sprite-sm.png") -260px -500px no-repeat
  &:after
    +panel-shadow(.15)

  +at-breakpoint($break6)
    p
      font-size: 1.618em

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +squish(1, 1)
    p
      font-size: 2em
    .devices
      width: 285px
      height: 162px
      margin: 1.875em auto
      // background: image-url("icons/devices-285.png") 0 0 no-repeat
      background: image-url("smush_sprite-sm.png") 0 -85px no-repeat
    span
      display: inline !important

  +at-breakpoint($break12)
    +span-columns(10, $break12)
    +squish(1, 1)
    p
      font-size: 1.875em + .443
    .devices
      margin: 1.875em + .443 auto (1.875em + .443) / 2
      width: 356px
      height: 202px
      // background: image-url("icons/devices-356.png") 0 0 no-repeat
      background: image-url("smush_sprite.png") -320px 0 no-repeat

// .devices
//   visibility: hidden

// .reveal-devices
//   visibility: visible !important

// .no-js .devices
//   visibility: visible !important


/* How
  -----------------------

#how
  position: relative
  padding: $padding-4 0
  border-color: $navy-blue
  background-color: $navy-blue
  z-index: 2
  &:after
    content: ""
    position: absolute
    top: 99%
    left: 50%
    margin-left: -20px
    border-top: 20px solid $navy-blue
    border-top-color: inherit
    border-left: 20px solid transparent
    border-right: 20px solid transparent

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0

.how
  h2
    line-height: 1
    margin-top: 0
    font-size: 1.618em
    color: $dark-white
  p
    margin: .443em 0 0
    font-size: 1em + .236
    color: $white-smoke

  +at-breakpoint($break6)
    h2
      font-size: 1.875em
    p
      margin-top: 0
      padding-bottom: 1em
      font-size: 1em + .443

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +squish(1, 1)
    h2
      font-size: 2.618em
    p
      font-size: 1.618em

  +at-breakpoint($break12)
    +span-columns(10, $break12)
    +squish(1, 1)
    h2
      font-size: 3.034em
    p
      font-size: 1.618em + .274

#slidingDiv
  display: none
  li
    position: relative
    list-style: none
    padding-left: 85px
    margin-bottom: .443em
    font-size: 1em + .274
  span
    color: $orange

  +at-breakpoint($break9)
    ul
      margin: 0
      color: $white-smoke
    li
      margin-bottom: .716em
      font-size: 1em + .443
    .mobile-first, .rails, .speed, .agile
      position: absolute
      top: 12px
      left: 10px
      background: image-url("smush_sprite-sm.png") 0 0 no-repeat
    .mobile-first
      top: 11px
      width: 45px
      height: 76px
      // background: image-url("icons/mobile-first-45.png") 0 11px no-repeat
      background-position: -320px 0px
    .rails
      width: 50px
      height: 64px
      // background: image-url("icons/rails-50.png") 0 12px no-repeat
      background-position: -320px -85px
    .speed
      top: 14px
      width: 55px
      height: 66px
      // background: image-url("icons/stopwatch-55.png") 0 14px no-repeat
      background-position: -320px -160px
    .agile
      width: 55px
      height: 37px
      // background: image-url("icons/measuring-tape-55.png") 0 12px no-repeat
      background-position: -320px -230px

  +at-breakpoint($break12)
    li
      font-size: 1.618em
    .mobile-first, .rails, .speed, .agile
      background: image-url("smush_sprite.png") 0 0 no-repeat
    .mobile-first
      background-position: 0 -500px
    .rails
      background-position: -70px -500px
    .speed
      background-position: -140px -500px
    .agile
      background-position: -210px -500px

.show_hide
  font-family: $base-font-button
  +link-colors($dark-white, $white, $dark-white, $dark-white, $dark-white)
  display: none

  +at-breakpoint($break9)
    display: inline

/* JavaScript fallback */

.no-js #slidingDiv
  display: block

.no-js .show_hide
  +hidden


/* Process
  -----------------------

#process
  position: relative
  padding: $padding-4 0
  background-color: $white
  z-index: 1

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0

/* Intro

.process
  position: relative
  margin-bottom: 1em + .274

  +at-breakpoint($break6)
    margin-bottom: 1em + .443

  +at-breakpoint($break9)
    +span-columns(8, $break9)
    +squish(.5, .5)
    margin-bottom: 1.875em
    h2
      text-align: center

  +at-breakpoint($break12)
    +span-columns(10, $break12)
    +squish(1, 1)

/* List

#process ul
  margin-top: 0
  li
    list-style: none
    margin-bottom: 1em
    +clearfix

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +pre(1)

  +at-breakpoint($break12)
    +span-columns(8, $break12)
    +pre(2)

/* Symbol

.symbol
  float: left

  +at-breakpoint($break6)
    width: 19%

  +at-breakpoint($break9)
    width: 21%

  +at-breakpoint($break12)
    width: 22%

.circle
  +circle-border($size: (1.159em * 2), $border: 3px, $color: $lime)
  margin: 0 0 -37px
  span
    font-size: 1.159em

  +at-breakpoint($break6)
    +circle-border($size: (1.875em * 2), $border: 4px, $color: $lime)
    margin: 0
    span
      font-size: 1.875em

  +at-breakpoint($break9)
    +circle-border($size: (2.618em * 2), $border: 6px, $color: $lime)
    span
      font-size: 2.618em

  +at-breakpoint($break12)
    +circle-border($size: (3.034em * 2), $color: $lime)
    span
      font-size: 3.034em

/* Step

.step
  float: left
  width: 100%
  h3
    margin-left: 3.034em
  p
    margin: 0

  +at-breakpoint($break6)
    width: 81%
    // margin-left: 1%
    h3
      margin-left: 0

  +at-breakpoint($break9)
    width: 79%
    // margin-left: 1.618em

  +at-breakpoint($break12)
    width: 78%

/* Roundabout

.roundabout-holder
  clear: both
  height: 12.85em
  margin-bottom: 3.034em

  +at-breakpoint($break9)
    +span-columns(7, $break9)

  +at-breakpoint($break12)
    +span-columns(8, $break12)

.roundabout-moveable-item
  padding: 1.159em
  cursor: pointer
  background-color: $white
  border: 1px solid $black-1
  border: 6px solid rgba(0, 0, 0, .05)
  +border-radius(1em)

.roundabout-in-focus
  cursor: auto

/* Button

.hire-button
  clear: both
  text-align: center
  .button
    +sassy-button
    margin-top: 1.618em
    font-size: 1.159em

  +at-breakpoint($break6)
    .button
      margin-top: 1.875em
      font-size: 1em + .274

  +at-breakpoint($break9)
    .button
      font-size: 1em + .443

  +at-breakpoint($break12)
    .button
      font-size: 1.618em

/* Old

.work-process

  +at-breakpoint($break9)
    padding-top: 11.089em
    h2
      position: relative
      padding-top: 1em
      &:before
        +panel-shadow

  +at-breakpoint($break12)
    padding-top: 11.089em


/* Passion
  -----------------------

#passion
  position: relative
  padding: $padding-4 0
  border-color: $blue-gray
  background-color: $blue-gray
  z-index: 1
  &:before
    +panel-shadow(.05)
  &:after
    content: ""
    position: absolute
    top: 99%
    left: 50%
    margin-left: -20px
    border-top: 20px solid $blue-gray
    border-top-color: inherit
    border-left: 20px solid transparent
    border-right: 20px solid transparent

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0

.passion
  h2
    line-height: 1.236
    margin-top: 0
    font-size: 1.618em
    color: $dark-white
    +single-text-shadow(0, 2px, 2px, false, $navy-blue)

  +at-breakpoint($break6)
    h2
      font-size: 1.875em

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +squish(1, 1)
    h2
      font-size: 2.618em

  +at-breakpoint($break12)
    +span-columns(9, $break12)
    +squish(1.5, 1.5)
    h2
      font-size: 3.034em


/* Expertise
  -----------------------

#expertise
  position: relative
  padding:  $padding-4 0
  padding-bottom: $padding-4
  background-color: $white

  +at-breakpoint($break6)
    padding:  $padding-6 0

  +at-breakpoint($break9)
    padding:  $padding-9 0

  +at-breakpoint($break12)
    padding:  $padding-12 0

.coding-design, .manifesto
  p
    margin: 0
    font-size: 1em

  +at-breakpoint($break6)
    p
      font-size: 1.159em

  +at-breakpoint($break9)
    +span-columns(8, $break9)
    +pre(1)
    .book
      float: left
      margin-right: 2.618em
      width: 150px
      height: 239px
      // background: image-url("icons/design-150.png") 55px 8px no-repeat
      background: image-url("smush_sprite-sm.png") -160px -260px no-repeat
    .description
      +span-columns(6, $break9)

  +at-breakpoint($break12)
    +span-columns(9, $break12)
    +pre(1)
    min-height: 318px
    .book
      width: 200px
      height: 318px
      // background: image-url("icons/design-200.png") 0 0 no-repeat
      background: image-url("smush_sprite.png") -530px -260px no-repeat
    p
      font-size: 1em + .236
    .description
      +span-columns(6 omega, $break9)

.manifesto
  margin-top: $margin-4 / 2

  +at-breakpoint($break6)
    margin-top: $margin-6 / 2

  +at-breakpoint($break9)
    margin-top: $margin-9 / 2
    .book
      // background: image-url("icons/manifesto-150.png") 55px 8px no-repeat
      background: image-url("smush_sprite-sm.png") 0 -260px no-repeat

  +at-breakpoint($break12)
    margin-top: $margin-12 / 2
    .book
      // background: image-url("icons/manifesto-200.png") 0 0 no-repeat
      background: image-url("smush_sprite.png") -320px -260px no-repeat

/* Buttons

.coding-design-button, .manifesto-button
  margin-top: 1.618em
  text-align: center
  .button
    +sassy-button(flat, .382em, 1em, $lime)

  +at-breakpoint($break6)
    margin-top: 1.875em
    text-align: left
