/* Photo Hero
  -----------------------

#photo-hero
  position: relative
  height: 20.792em
  padding: .716em 0 1.159em
  background-color: $white

  +at-breakpoint($break6)
    padding: (1em + .443) 0 1.618em

  +at-breakpoint($break9)
    padding: 2.618em 0 $padding-9
    height: 46.971em - 10

  +at-breakpoint($break12)
    padding: 4.236em 0 $padding-12

/* Tagline

.tagline
  h2
    margin: 0
    // padding: 0 .443em
    font-size: 1.618em
    // background-color: rgba(255, 255, 255, .05)
    // +border-radius(4px)
  p
    margin: .443em 0 0
    font-size: 1.159em

  +at-breakpoint($break6)
    +span-columns(4, $break6)
    h2
      font-size: 1.875em
    p
      font-size: 1.159em

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +prefix(.5)
    h2
      font-size: 2.618em
    p
      font-size: 1em + .236
      span
        display: block

  +at-breakpoint($break12)
    +span-columns(8, $break12)
    +prefix(1)
    h2
      font-size: 3.034em
    p
      font-size: 1.618em

.first
  +hidden

.second
  // +hidden

/* Mobile Icons

.mobile-icons
  color: rgba(255, 255, 255, .15)
  +hidden

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +prefix(.5)
    font-size: 3.034em
    .desktop-computer
      font-size: 1em - .105
    .tablet
      margin: 0 8px 0 5px
    // +reveal-hidden

  +at-breakpoint($break12)
    +span-columns(8, $break12)
    +prefix(1)
    font-size: 4.909em

/* Button

.start-project
  // margin-top: 1.159em
  margin-top: 1.618em
  .button
    +sassy-button
    font-size: 1.159em

  +at-breakpoint($break6)
    +span-columns(6, $break6)
    margin-top: 1.875em
    .button
      font-size: 1em + .274

  +at-breakpoint($break9)
    +span-columns(6, $break9)
    +prefix(.5)
    margin-top: 3.034em
    .button
      font-size: 1em + .443

  +at-breakpoint($break12)
    +span-columns(6, $break12)
    +prefix(1)
    margin-top: 4.236em
    .button
      font-size: 1.618em


/* Blue Hero
  -----------------------

// #blue-hero
//   position: relative
//   padding: .716em 0 1.159em
//   background-color: $navy-blue

//   +at-breakpoint($break6)
//     padding: (1em + .443) 0 1.618em

//   +at-breakpoint($break9)
//     padding: 2.618em 0 $padding-9

//   +at-breakpoint($break12)
//     padding: 4.236em 0 $padding-12

// /* Tagline

// .tagline
//   h2
//     margin: 0
//     font-size: 1.618em
//     color: $dark-white
//   p
//     margin: .443em 0 0
//     font-size: 1.159em
//     color: $white-smoke

//   +at-breakpoint($break6)
//     h2
//       font-size: 1.875em
//     p
//       font-size: 1.159em

//   +at-breakpoint($break9)
//     +span-columns(8, $break9)
//     +squish(.5, .5)
//     h2
//       font-size: 2.618em
//     p
//       font-size: 1em + .236

//   +at-breakpoint($break12)
//     +span-columns(10, $break12)
//     +squish(1, 1)
//     h2
//       font-size: 3.034em
//     p
//       font-size: 1.618em

// .first
//   +hidden

// .second
//   // +hidden

// /* Button

// .start-project
//   text-align: center
//   margin-top: 1.618em
//   .button
//     +sassy-button
//     font-size: 1.159em

//   +at-breakpoint($break6)
//     +span-columns(6, $break6)
//     text-align: left
//     margin-top: 1.875em
//     .button
//       font-size: 1em + .274

//   +at-breakpoint($break9)
//     +span-columns(6, $break9)
//     +prefix(.5)
//     margin-top: 3.034em
//     .button
//       font-size: 1em + .443

//   +at-breakpoint($break12)
//     +span-columns(6, $break12)
//     +prefix(1)
//     margin-top: 4.236em
//     .button
//       font-size: 1.618em


/* Blurb
  -----------------------

#blurb
  position: relative
  padding: $padding-4 0
  background-color: $white

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0

  &:before
    +divider-top($padding-4, 45%)

    +at-breakpoint($break6)
      top: $padding-6 / 1.5

    +at-breakpoint($break9)
      top: $padding-9 / 1.5

    +at-breakpoint($break12)
      top: $padding-12 / 1.5

  &:after
    +divider-bottom($padding-4, 45%)

    +at-breakpoint($break6)
      bottom: $padding-6 / 1.5

    +at-breakpoint($break9)
      bottom: $padding-9 / 1.5

    +at-breakpoint($break12)
      bottom: $padding-12 / 1.5

.blurb
  p
    margin: 0
    font-size: 1em + .236
    text-align: center

  +at-breakpoint($break6)
    p
      font-size: 1.618em

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +squish(1, 1)
    padding-bottom: 210px
    background: image-url("icons/devices-285.png") 50% 90% no-repeat
    p
      font-size: 2em

  +at-breakpoint($break12)
    +span-columns(10, $break12)
    +squish(1, 1)
    padding-bottom: 265px
    background: image-url("icons/devices.png") 50% 90% no-repeat
    p
      font-size: 1.875em + .443


/* How do we do it?
  -----------------------

#how
  position: relative
  padding: $padding-4 0
  border-color: $blue-gray
  background-color: $blue-gray
  &:after
    content: ""
    position: absolute
    top: 100%
    left: 50%
    margin-left: -20px
    border-top: 20px solid blue
    border-top-color: inherit
    border-left: 20px solid transparent
    border-right: 20px solid transparent

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0

.how
  h2
    line-height: 1
    margin: 0
    font-size: 1.618em
  p
    margin: .443em 0 0
    font-size: 1.159em

  +at-breakpoint($break6)
    h2
      font-size: 1.875em
    p
      font-size: 1.159em

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +squish(1, 1)
    h2
      font-size: 3.034em
    p
      font-size: 1em + .236

  +at-breakpoint($break12)
    +span-columns(8, $break12)
    +squish(2, 2)
    h2
      font-size: 4.909em
    p
      font-size: 1.618em


/* Process
  -----------------------

#process
  position: relative
  padding: $padding-4 0
  background-color: $white
  z-index: -1

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0

/* Intro

.process
  position: relative
  margin-bottom: 1em + .274

  +at-breakpoint($break6)
    margin-bottom: 1em + .443

  +at-breakpoint($break9)
    +span-columns(8, $break9)
    +squish(.5, .5)
    margin-bottom: 1.875em
    h2
      text-align: center

  +at-breakpoint($break12)
    +span-columns(10, $break12)
    +squish(1, 1)

/* List

#process ul
  margin-top: 0
  li
    clear: both
    list-style: none

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +pre(1)

  +at-breakpoint($break12)
    +span-columns(8, $break12)
    +pre(2)

/* Roundabout

.roundabout-holder
  clear: both
  height: 12.85em
  margin-bottom: 3.034em

.roundabout-moveable-item
  padding: 1.159em
  cursor: pointer
  background-color: $white
  border-color: $black-1
  border: 6px solid rgba(0, 0, 0, .05)
  +border-radius(1em)

.roundabout-in-focus
  cursor: auto

/* Circles

.circle
  float: left
  +circle-border($size: (1.159em * 2), $border: 3px, $color: $lime)
  margin: 0 0 -37px
  span
    line-height: 2
    font-size: 1.159em

  +at-breakpoint($break6)
    +circle-border($size: (1.875em * 2), $border: 4px, $color: $lime)
    margin: 0
    span
      line-height: (1.875em * 1.07)
      font-size: 1.875em

  +at-breakpoint($break9)
    +circle-border($size: (2.618em * 2), $border: 6px, $color: $lime)
    span
      line-height: (2.618em * .75)
      font-size: 2.618em

  +at-breakpoint($break12)
    +circle-border($size: (3.034em * 2), $color: $lime)
    span
      line-height: (3.034em * .63)
      font-size: 3.034em

/* Steps

.discovery, .development, .repeat
  float: right
  width: 100%
  h3
    margin-left: 55px

  +at-breakpoint($break6)
    width: 80%
    h3
      margin-left: 0

  +at-breakpoint($break9)
    width: 76%

/* Button

.hire-button
  clear: both
  text-align: center
  .button
    +sassy-button
    margin-top: 1.618em
    font-size: 1.159em

  +at-breakpoint($break6)
    .button
      margin-top: 1.875em
      font-size: 1em + .274

  +at-breakpoint($break9)
    .button
      font-size: 1em + .443

  +at-breakpoint($break12)
    .button
      font-size: 1.618em


/* Manifesto
  -----------------------

#manifesto
  position: relative
  padding:  $padding-4 0
  padding-bottom: $padding-4
  background-color: darken($gray, 5)
  &:after
    +panel-shadow(.07)

  +at-breakpoint($break6)
    padding:  $padding-6 0

  +at-breakpoint($break9)
    padding:  $padding-9 0

  +at-breakpoint($break12)
    padding:  $padding-12 0

.manifesto
  p
    margin: 0
    font-size: 1em
  .manifesto-button
    margin-top: 1.618em
    text-align: center
    .button
      +sassy-button(flat, .382em, 1em, $lime)

  +at-breakpoint($break6)
    p
      font-size: 1.159em
    .manifesto-button
      margin-top: 1.875em
      text-align: left

  +at-breakpoint($break9)
    +span-columns(5, $break9)
    +prefix(3)
    +pre(.5)
    // +squish(.5, .5)
    background: image-url("icons/book-150.png") 55px 8px no-repeat

  +at-breakpoint($break12)
    +span-columns(6, $break12)
    +prefix(3)
    min-height: 318px
    background: image-url("icons/book-200.png") 0 0 no-repeat
    p
      font-size: 1em + .236
