@viewport
  width: device-width

@-ms-viewport
  width: device-width


/*  Base
  -----------------------

html, button, input, select, textarea
  font-family: $base-font-family
  color: $base-font-color

html
  /* This may cause problems in Firefox when combined with JS plugins (like modals or drag-and-drop UIs) that rely on viewport dimension calculations */
  overflow-y: scroll
  -webkit-font-smoothing: antialiased

body
  font-size: $base-font-size
  line-height: $base-line-height
  background-color: $bg-body
  // &:after
  //   +rwd-marker

.wrapper
  max-width: 1400px
  min-width: 320px
  margin: 0 auto
  overflow: hidden

.container
  +container($total-columns, $break6, $break9, $break12)
  // +susy-grid-background

  +at-breakpoint($break6)
    // +susy-grid-background

  +at-breakpoint($break9)
    // +susy-grid-background

  +at-breakpoint($break12)
    // +susy-grid-background

img
  vertical-align: middle


/* Header
  -----------------------

// navigation in _navigation.sass

header
  +clearfix
  border-top: .382em solid $gray
  background-color: $bg-header
  +box-shadow(0 1px 3px rgba(0, 0, 0, 0.1))

.viewthought
  +span-columns(4 omega, 4)
  line-height: 1em
  margin-top: .382em
  margin-bottom: .236em
  // 1 + .443
  font-size: 1.443em

  +at-breakpoint($break6)
    +span-columns(3, $break6)
    margin-top: .236em
    margin-bottom: 0

  +at-breakpoint($break9)
    +span-columns(4, $break9)
    margin-top: .274em
    font-size: 1.875em

  +at-breakpoint($break12)
    +span-columns(5, $break12)

.logo
  display: inline-block
  font-family: $quatro
  text-transform: uppercase
  +link-colors($logo-color, $logo-color, $logo-color, $logo-color, $logo-color)

  &:hover
    text-decoration: none

  .char1, .char5
    // 1 + .146
    font-size: 1.146em

.wf-loading .logo
  visibility: hidden


/* Footer
  -----------------------

footer
  clear: both
  +clearfix
  position: relative
  padding-top: $padding-4
  +panel-gradient($bg-footer, $bg-footer)
  h3, p
    margin: 0
  &:after
    +panel-shadow

  +at-breakpoint($break6)
    padding-top: $padding-6

  +at-breakpoint($break9)
    padding-top: $padding-9

  +at-breakpoint($break12)
    padding-top: $padding-12

.footer-hide
  +hidden

  +at-breakpoint($break6)
    +reveal-hidden-inline

.address
  +span-columns(2, 4)

  +at-breakpoint($break6)
    +span-columns(3, $break6)

  +at-breakpoint($break9)
    +span-columns(3, 9)

  +at-breakpoint($break12)
    +span-columns(4, 12)

.connect
  +span-columns(2 omega, 4)

  +at-breakpoint($break6)
    +span-columns(3 omega, $break6)

  +at-breakpoint($break9)
    +span-columns(3, $break9)

  +at-breakpoint($break12)
    +span-columns(4, $break12)
    a.tel:after
      content: " |"

// FIXME ccm: possibly convert to non-list?
.social-links
  +icon-nav-list(1em, .236em)

  +at-breakpoint($break6)
    font-size: 1.159em

.adr, .tel, .email
  // 1 - .146
  font-size: .854em

  +at-breakpoint($break6)
    font-size: 1em

.related
  ul
    margin: 0
  +hidden

  +at-breakpoint($break9)
    +span-columns(3 omega, 9)
    +reveal-hidden

  +at-breakpoint($break12)
    +span-columns(4 omega, 12)

.copyright
  position: relative
  +span-columns(4 omega, 4)
  margin-bottom: 1em
  padding-top: 1.382em
  // 1 - .146
  font-size: .854em

  +at-breakpoint($break6)
    +span-columns(6 omega, $break6)
    padding-top: 1.875em

  +at-breakpoint($break9)
    +span-columns(8 omega, $break9)
    +prefix(1)
    margin-bottom: 0
    height: 35px
    background: image-url("logos/ojala.png") 0 1em no-repeat

  +at-breakpoint($break12)
    +span-columns(11 omega, $break12)
    +prefix(1)

  // &:after
  //   content: ""
  //   position: absolute
  //   top: 0
  //   left: 0
  //   right: 75%
  //   height: 5px
  //   +background-image(linear-gradient(left, $base-font-color, lighten($base-font-color, 30)))
  //   +opacity(.25)

.arrow-up-anchor
  +hidden

  +at-breakpoint($break6)
    +reveal-hidden
    position: absolute
    bottom: 1em
    right: 2.618em
    width:  $arrow-width
    font-family: $base-font-button
    font-size: .716em
    text-align: center
    +link-colors($arrow-color-1, $arrow-color-2, $arrow-color-1, $arrow-color-1, $arrow-color-1)
    &:after
      +arrow-details
      +arrow-up($size: $arrow-size, $color: $arrow-color-1)
    &:hover
      text-decoration: none
      &:after
        +arrow-details
        +arrow-up($size: $arrow-size, $color: $arrow-color-2)
