/*  Base
  -----------------------

html, button, input, select, textarea
  font-family: $base-font-family
  color: $base-font-color

html
  /* This may cause problems in Firefox when combined with JS plugins (like modals or drag-and-drop UIs) that rely on viewport dimension calculations
  overflow-y: scroll
  -webkit-font-smoothing: antialiased

body
  font-size: $base-font-size
  line-height: $base-line-height
  background-color: $bg-body

.container
  +container
  +susy-grid-background

img
  vertical-align: middle


/* Header
  -----------------------

header
  +clearfix
  margin-bottom: 1em

.logo
  +span-columns(4, 12)
  +prefix(1)
  line-height: 1em
  margin: .2em 0 0
  font-family: $quatro
  font-size: 2em
  text-transform: uppercase
  background: image-url("http://dummyimage.com/40x40/d4d4d4/fff.gif") 10px 0 no-repeat
  +link-colors(#222, #222, #222, #222, #222)
  &:hover
    text-decoration: none
  .char1, .char5
    font-size: 1.2em
  // .char2, .char3, .char4, .char6, .char7, .char8, .char9, .char10, .char11

.wf-loading .logo
  visibility: hidden

nav
  +span-columns(7 omega, 12)
  margin: .8em 0 0 0


/* Footer
  -----------------------

footer
  margin-top: 1em

.address
  clear: both
  float: left
  width: 75%
  h3, p
    margin: 0

.social
  float: right
  width: 25%
  line-height: 0
  +horizontal-list
  li
    width: 2em
    padding: 0
  a
    font-size: 120%
    +link-colors($icon-normal, $icon-hover, $icon-active, $icon-visited, $icon-focus)
    &:hover
      text-decoration: none
    span
      // Fix for icon font clickability issue in WebKit
      display: inline-block

.copyright
  clear: both
  margin-top: 5px
  // font-size: 60%
  // color: $font-gray
  // text-align: center
