/*  Base
  -----------------------

html, button, input, select, textarea
  font-family: $base-font-family
  color: $base-font-color

html
  /* This may cause problems in Firefox when combined with JS plugins (like modals or drag-and-drop UIs) that rely on viewport dimension calculations
  overflow-y: scroll
  -webkit-font-smoothing: antialiased

body
  font-size: $base-font-size
  line-height: $base-line-height
  background-color: $bg-body

.container
  +container($total-columns, $desktop)
  +susy-grid-background

  +at-breakpoint($desktop)
    +susy-grid-background

img
  vertical-align: middle


/*  Header
  -----------------------

// navigation in _navigation.sass

header
  +clearfix
  margin-bottom: 1em

.logo
  +span-columns(4, 7)
  // +prefix(1)
  line-height: 1em
  margin-top: .2em
  margin-right: -2em
  padding-left: 2em
  font-family: $quatro
  font-size: 1.7em
  text-transform: uppercase
  +link-colors(#222, #222, #222, #222, #222)
  background: image-url("http://dummyimage.com/40x40/d4d4d4/fff.gif") .2em 0 no-repeat

  &:hover
    text-decoration: none

  .char1, .char5
    font-size: 1.2em

  +at-breakpoint($desktop)
    +span-columns(5, 12)
    // +prefix(1)
    margin-right: -2em
    font-size: 2em

.wf-loading .logo
  visibility: hidden


/*  Footer
  -----------------------

footer
  clear: both
  +clearfix
  padding-top: 1em
  h3, p
    margin: 0

.address
  +span-columns(3, 7)

  +at-breakpoint($desktop)
    +span-columns(3, 12)

.connect
  +span-columns(4 omega, 7)

  +at-breakpoint($desktop)
    +span-columns(4, 12)

// FIXME ccm: possibly convert to non-list?
.social-links
  +icon-nav-list(1.5em)

.related
  +hidden

  +at-breakpoint($desktop)
    +span-columns(5 omega, 12)
    +reveal-hidden
    ul
      margin: 0

.copyright
  +span-columns(7 omega, 7)
  margin: .75em 0 1em
  font-size: .85em
  color: $font-gray

  +at-breakpoint($desktop)
    +span-columns(12 omega, 12)
