@viewport
  width: device-width

@-ms-viewport
  width: device-width


/*  Base
  ----------------------- */

html, button, input, select, textarea
  font-family: $base-font-family
  color: $base-font-color

html
  font-size: $base-font-size
  line-height: $base-line-height
  /* This may cause problems in Firefox when combined with JS plugins (like modals or drag-and-drop UIs) that rely on viewport dimension calculations */
  overflow-y: scroll
  -webkit-font-smoothing: antialiased

body
  // background-color: $bg-body
  background-color: $white
  // &:after
  //   +rwd-marker

.wrapper
  max-width: 1400px
  min-width: 320px
  margin: 0 auto
  overflow: hidden

.container
  +container($total-columns, $break6, $break9, $break12)
  // +susy-grid-background

  // +at-breakpoint($break6)
  //   +susy-grid-background

  // +at-breakpoint($break9)
  //   +susy-grid-background

  // +at-breakpoint($break12)
  //   +susy-grid-background

audio,
canvas,
img,
svg,
video
  vertical-align: middle


/* Header
  ----------------------- */

// navigation in _navigation.sass

header
  +clearfix
  border-top: .382em solid $gray
  background-color: $bg-header
  +box-shadow(0 1px 3px rgba(0, 0, 0, 0.1))

#viewthought
  float: left
  line-height: 1em
  margin: .236em 0
  font-size: 1em + .443
  a
    font-family: $quatro
    text-transform: uppercase
    +link-colors($link-logo, $link-logo, $link-logo, $link-logo, $link-logo)
    &:hover
      text-decoration: none

    .char1, .char5
      font-size: 1em + .146

  +at-breakpoint($break9)
    width: 246px
    margin: .274em 0 0
    font-size: 1.875em

  +at-breakpoint($break12)
    +span-columns(4, $break12)

// .wf-active #viewthought
//   visibility: hidden
//   @extend .big-entrance

// TypeKit and JavaScript fallbacks

.wf-loading .logo
  visibility: hidden

.wf-active .logo
  visibility: visible

.no-js #viewthought,
.wf-inactive #viewthought
  width: 192px
  // background: image-url("logos/viewthought.gif") -2px -48px no-repeat
  background: image-url("smush_sprite.png") -2px -48px no-repeat
  +hide-text
  // @extend .big-entrance

  +at-breakpoint($break9)
    width: 246px
    background-position: -1px 2px

  +at-breakpoint($break12)
    +span-columns(4, $break12)

// phone number

header
  .phone-number
    float: right
    margin-top: .065em
    text-align: right
    +hidden
    a
      font-family: $base-font-nav
      font-size: 1em + .236
      +link-colors($black-1, $black-2, $black-1, $black-1, $black-1)

    +at-breakpoint($break6)
      +reveal-hidden
      float: right
      width: 150px

    +at-breakpoint($break9)
      line-height: 2.4

    +at-breakpoint($break12)
      +span-columns(3 omega, $break12)
