/*  Main
  -----------------------

#nav
  a
    padding: 0 20px
    font-family: $base-nav-font
  a:first-child
    padding-left: 0


/*  Icon Fonts
  -----------------------

[data-icon]:before
  @include data-icon
