/*  Home
  -----------------------

.hero
  +span-columns(12 omega, 12)
  margin-bottom: 1em
.start-project
  +span-columns(6, 12)
  margin-top: 6em
  text-align: center
  button
    margin: 0 auto
  a
    display: block
.tagline
  +span-columns(5, 12)
  h1
    margin: 0
    font-size: 1.5em

.testimonial
  +span-columns(6, 12)
  blockquote
    margin: 0

.book
  +span-columns(6 omega, 12)
  a
    +span-columns(1, 6)
  h3, p
    +span-columns(5 omega, 6)
    margin: 0
  h3
    margin-bottom: .5em


/*  Work
  -----------------------

.portfolio
  +clearfix
  img
    float: left
    margin: 0 5px 5px 0
    // FIXME ccm: DELETE!
    background-color: gray


/*  Team
  -----------------------

.team
  +inline-block-list
  li
    width: 75px
    margin-bottom: 3px
  img
    // FIXME ccm: DELETE!
    background-color: gray
  span
    display: block
    font-size: 60%
    text-align: center
