/* Toggles
  -----------------------

// For toggling desktop only properties

.desktop
  +hidden

+at-breakpoint($break12)
  .mobile
    +hidden

  .desktop
    +reveal-hidden

// For toggling between phone number markup

.callto
  position: absolute
  top: -9999px
  left: -9999px
  +hidden

+at-breakpoint($break9)
  .tel
    position: absolute
    top: -9999px
    left: -9999px
    +hidden

  .callto
    position: relative
    top: auto
    left: auto
    +reveal-hidden-inline


/* Arrows
  -----------------------

.b-g-w,
.l-b-g-b-g,
.n-b-w,
.b-g-g,
.w-d-w,
.d-g-g

  +at-breakpoint($break9)
    span
      font-size: 4.236em


/* Pages
  -----------------------

@import "home"
@import "work"
@import "thoughts"
@import "contact"
@import "extra"
