/* Links
  -----------------------

a
  +link-colors($link-normal, $link-hover, $link-active, $link-visited, $link-focus)
  text-decoration: none
  &:hover
    text-decoration: underline


/* Headers
  -----------------------

h1, h2, h3, h4, h5
  font-family: $base-font-header
  color: $base-header-color

h1
  // font-size: 2em
  // margin: 0.67em 0
  font-size: 2em
  margin: .618em 0

h2
  // font-size: 1.5em
  // margin: 0.83em 0
  font-size: 1.618em
  margin: 0.716em 0

h3
  // font-size: 1.17em
  // margin: 1em 0
  font-size: 1.159em
  margin: 1em 0

h4
  // font-size: 1em
  // margin: 1.33em 0
  font-size: 1em
  margin: 1.159em 0

h5
  // font-size: 0.83em
  // margin: 1.67em 0
  font-size: 0.716em
  margin: 1.618em 0

h6
  // font-size: 0.67em
  // margin: 2.33em 0
  font-size: .618em
  margin: 2.618em 0
