/* Value
  -----------------------

#value
  // display: none
  position: relative
  padding: .716em 0 1.159em
  background-color: $black-2
  p
    margin: 0
  a
    +hidden

  +at-breakpoint($break6)
    // 1 + .443
    padding: 1.443em 0 1.618em

  +at-breakpoint($break9)
    padding: 2.618em 0 $padding-9
    a
      +reveal-hidden
      position: absolute
      bottom: -168px
      left: 50%
      margin-left: -150px
      width: 300px
      height: 381px
      z-index: 5613201117
      // For image:
      // bottom: -200px
      // height: 413px
      // background: image-url("work-ipad.png") -159px -41px no-repeat
    &:after
      content: ""
      position: absolute
      bottom: -200px
      left: 50%
      display: block
      margin-left: -309px
      width: 618px
      height: 454px
      background: image-url("ipad-work.png") 0 0 no-repeat

  +at-breakpoint($break12)
    padding: 4.236em 0 $padding-12

.value
  p
    font-size: 1.159em
    color: $dark-white

  +at-breakpoint($break6)
    p
      // 1 + .236
      font-size: 1.236em

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +squish(1, 1)
    padding-bottom: 213px
    p
      font-size: 1.618em

  +at-breakpoint($break12)
    +span-columns(10, $break12)
    +squish(1, 1)
    p
      font-size: 1.875em


/* Process
  -----------------------

#process
  padding: $padding-4 0
  background-color: $white

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: 12.85em 0 $padding-9

  +at-breakpoint($break12)
    padding-bottom: $padding-12

    .discovery
      +span-columns(5, $break12)
      +prefix(1, $break12)

    .development
      +span-columns(5, $break12)

    .repeat
      +span-columns(12 omega, $break12)
      text-align: center

    .work-with-us
      +span-columns(10, $break12)
      +squish(1, 1)
      text-align: center


/* Case Study
  -----------------------

#case-study
  background-color: $gray

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0


/* Competencies
  -----------------------

#competencies
  background-color: $white

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0
