/* Value
  -----------------------

#value
  position: relative
  padding: .716em 0 1.159em
  background-color: $black-3
  p
    margin: 0
  .ipad
    +hidden
  .hide-text
    +hidden

  +at-breakpoint($break6)
    padding: (1em + .443) 0 1.618em

  +at-breakpoint($break9)
    padding: 2.618em 0 $padding-9
    .ipad
      +reveal-hidden
      position: absolute
      bottom: -168px
      left: 50%
      margin-left: -150px
      width: 300px
      height: 381px
      z-index: 5613201117
    &:after
      content: ""
      position: absolute
      bottom: -200px
      left: 50%
      display: block
      margin-left: -309px
      width: 618px
      height: 454px
      background: image-url("ipad.png") 0 0 no-repeat

  +at-breakpoint($break12)
    padding: 4.236em 0 $padding-12
    .hide-text
      +reveal-hidden
      display: inline  !important

.value
  p
    font-size: 1.159em
    color: $dark-white

  +at-breakpoint($break6)
    p
      font-size: 1em + .236

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +squish(1, 1)
    padding-bottom: 213px
    p
      font-size: 1.618em

  +at-breakpoint($break12)
    +span-columns(10, $break12)
    +squish(1, 1)
    p
      font-size: 1.875em


/* Core Values
  -----------------------

#core-values
  position: relative
  padding: $padding-4 0
  background-color: $white
  z-index: -2

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: (12.85em + 1) 0 $padding-9

  +at-breakpoint($break12)
    padding-bottom: $padding-12

.core-values
  position: relative
  h2
    text-align: center
  li
    position: relative
    margin-bottom: 1.618em
    padding: 1em 1em 1em 3.034em
    font-size: 1em
    counter-increment: step
    list-style: none
    +box-shadow(0 0 10px rgba(0, 0, 0, 0.2))
    +shadow-3
    &:nth-child(3)
      margin-bottom: 0
    span:before
      content: counter(step, upper-roman)
      position: absolute
      top: 0
      left: 0
      width: 1.875em
      line-height: 1.875em
      text-align: center
      color: $white
      background-color: $orange
      // background-color: rgba(242, 101, 19, .7)
      +border-top-left-radius(4px)

  +at-breakpoint($break6)
    li
      font-size: 1em + .169

  +at-breakpoint($break9)
    +span-columns(9 omega, $break9)
    h2
      margin: 1em 0 1.618em
    &:before
      +panel-shadow
    ol
      text-align: center
    li
      display: inline-block
      width: 7.942em
      margin: 0 .618em 0 0
      text-align: left
      vertical-align: top
      &:nth-child(3)
        margin-right: 0

  +at-breakpoint($break12)
    +span-columns(12 omega, $break12)
    h2
      margin-top: 1.159em
    li
      margin-right: 1em
      width: 11.089em
      font-size: 1em + .236


/* Case Study
  -----------------------

#case-study
  position: relative
  padding: $padding-4 0
  background-color: $navy-blue
  &:after
    +panel-shadow(.06)

  +at-breakpoint($break6)
    padding: $padding-6 0

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0

.case-study
  h2, p, li
    color: $white-smoke

  p
    margin-top: 0

  ul
    margin-bottom: 0
    padding-bottom: 160px
    background: image-url("lapostita-250.png") 50% 100% no-repeat

  +at-breakpoint($break6)
    ul
      padding-bottom: 200px
      background: image-url("lapostita-320.png") 50% 100% no-repeat

  +at-breakpoint($break9)
    ul
      padding-bottom: 300px
      background: image-url("lapostita-480.png") 50% 100% no-repeat

  +at-breakpoint($break12)
    +span-columns(6, $break12)
    +prefix(6)
    padding-bottom: 16px
    background: image-url("lapostita-480.png") -14px 16px no-repeat
    ul
      margin-bottom: 1em
      padding-bottom: 0
      background: none

#slidingDiv
  display: none

.show_hide
  font-family: $base-font-button
  +link-colors($dark-white, $white, $dark-white, $dark-white, $dark-white)

  +at-breakpoint($break12)
    font-size: .716em

/* JavaScript fallback */

.no-js #slidingDiv
  display: block

.no-js .show_hide
  +hidden


/* Tech Icons
  -----------------------

#tech-icons
  position: relative
  padding: $padding-4 0
  background-color: $white
  &:after
    +panel-shadow(.15)
  +hidden

  +at-breakpoint($break6)
    padding: $padding-6 0
    +reveal-hidden

  +at-breakpoint($break9)
    padding: $padding-9 0

  +at-breakpoint($break12)
    padding: $padding-12 0

.tech-icons
  p
    margin: 0
    font-size: 1em + .236
    text-align: center

  +at-breakpoint($break6)
    span
      display: block
      margin: 2.618em auto 0 auto
      width: 280px
      height: 149px
      background: image-url("logos/tech-icon-sprite-280.png") 0 0 no-repeat

  +at-breakpoint($break9)
    +span-columns(7, $break9)
    +squish(1, 1)
    p
      font-size: 1.875em
    span
      margin-top: 2.618em
      width: 563px
      height: 69px
      background: image-url("logos/tech-icon-sprite.png") 0 0 no-repeat

  +at-breakpoint($break12)
    +span-columns(10, $break12)
    +squish(1, 1)
    p
      font-size: 1.875em + .443


/* Tech Blurb
  -----------------------

#tech-blurb
  position: relative
  padding: $padding-4 0
  background-color: $white

  +at-breakpoint($break6)
    padding-top: 0
    padding-bottom: $padding-6

  +at-breakpoint($break9)
    padding-bottom: $padding-9

  +at-breakpoint($break12)
    padding-bottom: $padding-12

.tech-blurb
  position: relative
  p
    margin: 0

  +at-breakpoint($break6)
    p
      padding-top: 1.875em
      font-size: 1.159em
    &:before
      +panel-shadow

  +at-breakpoint($break9)
    +span-columns(8, $break9)
    +squish(.5, .5)
    p
      padding-top: 2em
      font-size: 1em + .443

  +at-breakpoint($break12)
    +span-columns(10, $break12)
    +squish(1, 1)
    p
      padding-top: 2.618em
      font-size: 1.681em
