%ul
  %li.col1 Website Design and Development
  %li.col2 Digital Strategy Consulting
  %li.col3 Mobile Development
  %li.col1 Usability/UX
  %li.col2 Content Management Systems (CMS)
  %li.col3 Information Architecture
  %li.col1 E-commerce
  %li.col2 Content Creation/Review
  %li.col3 Traffic analysis, user statistics
  %li.col1 Search Engine Optimization (SEO)
  %li.col2 Graphic Design, Branding, Identity
  %li.col3 Website Optimization
  %li.col1 Videography/Photography
  %li.col2 Integration
  %li.col3 Site maintenance and monitoring
  %li.col1 Website Hosting and Security
