%footer.vcard{:role => "contentinfo"}

  .contact-info
    %span.tel 561.320.1117
    &#124;
    %a.email{:href => "mailto:info@viewthought.com"} info@viewthought.com

  .address
    %p.org ViewThought LLC
    .adr
      %p.street-address 9314 Forest Hill Blvd.
      %p.extended-address Suite 73
      %p
        %span.locality> Wellington
        ,
        %span.region Florida
        %span.postal-code 33414

  = render :partial => 'shared/social_links'

  %p.copyright An Ojala Inc. company &copy; ViewThought 2012
