%footer.vcard{:role => "contentinfo"}

  .address
    %h3.fn.org ViewThought LLC
    .adr
      %p.street-address 9314 Forest Hill Blvd.
      %p.extended-address Suite 73
      %p
        %span.locality> Wellington
        ,
        %span.region Florida
        %span.postal-code 33414

  .connect
    %h3 Connect with us
    = render :partial => 'shared/social_links'
    %span.tel 561.320.1117
    &#124;
    %a.email{:href => "mailto:info@viewthought.com"} info@viewthought.com

  .related
    %h3 Related Sites
    %ul
      %li
        %a{:href => 'http://railsviews.com', :title => ''} RailsViews.com
      %li
        %a{:href => 'http://thefrontendmanifesto.com', :title => ''} TheFrontEndManifesto.com

  .copyright An Ojala Inc. company &copy; ViewThought 2012
