- content_for :navigation_text do
  %nav{:id => 'nav', :role => 'navigation'}
    = nav_tab 'Home', home_path, 'h', current: current_tab
    = nav_tab 'Work', work_path, 'w', current: current_tab
    = nav_tab 'Contact', contact_path, 'c', current: current_tab
    =# nav_tab 'Thoughts', thoughts_path, 't', current: current_tab
    =# nav_tab 'Labs', labs_path, 'l', current: current_tab
