%nav{:id => 'nav-icon', :role => 'navigation'}
  %a{:href => "/", :title => 'Home', :accesskey => 'h'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x2616;".html_safe}
    %span.screen-reader-text Home
  %a{:href => "/work", :title => 'Work', :accesskey => 'w'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x2698;".html_safe}
    %span.screen-reader-text Work
  %a{:href => "/contact", :title => 'Contact', :accesskey => 'c'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x260f;".html_safe}
    %span.screen-reader-text Contact
  %a{:href => "/thoughts", :title => 'Thoughts', :accesskey => 't'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x263c;".html_safe}
    %span.screen-reader-text Thoughts
  %a{:href => "/labs", :title => 'Labs', :accesskey => 'l'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x269b;".html_safe}
    %span.screen-reader-text Labs
