%nav{:id => 'nav-icon', :role => 'navigation'}
  %a{:href => "/", :title => 'Home', :accesskey => 'h'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x2616;".html_safe}
    %span.screen-reader-text Home
  %a{:href => "/case_studies", :title => 'Case Studies', :accesskey => 'w'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x2328;".html_safe}
    %span.screen-reader-text Case Studies
  %a{:href => "/contact", :title => 'Contact Us', :accesskey => 'c'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x2706;".html_safe}
    %span.screen-reader-text Contact Us
