.phone-number
  %a{:href => 'callto://1-800-349-7009', :title => 'Main Number', :class => 'callto'} 800-349-7009
  %a{:href => 'tel://1-800-349-7009', :title => 'Main Number', :class => 'tel'} 800-349-7009
