.phone-number
  %a{:href => 'callto://1-561-320-1117', :title => 'Main Number', :class => 'callto'} 561-320-1117
  %a{:href => 'tel://1-561-320-1117', :title => 'Main Number', :class => 'tel'} 561-320-1117
