.social-links
  %a{:href => "#email-us", :title => 'Email Us', :class => 'current scroll'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x2709;".html_safe}
    %span.screen-reader-text Email
  -# %a{:href => "https://www.facebook.com/ojala", :title => 'Facebook'}
  -#   %span{"aria-hidden" => "true", "data-icon" => "&#x263a;".html_safe}
  -#   %span.screen-reader-text Facebook
  %a{:href => "https://www.twitter.com/ojala", :title => 'Twitter'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x270d;".html_safe}
    %span.screen-reader-text Twitter
  %a{:href => "https://www.github.com/ojala", :title => 'Github'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x2604;".html_safe}
    %span.screen-reader-text Github
  %a{:href => "http://www.linkedin.com/company/ojala", :title => 'LinkedIn'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x260d;".html_safe}
    %span.screen-reader-text LinkedIn
  -# %a{:href => "#", :title => 'Flickr'}
  -#   %span{"aria-hidden" => "true", "data-icon" => "&#x278e;".html_safe}
  -#   %span.screen-reader-text Flickr
