#social-links
  %a{:href => "https://www.facebook.com/viewthought", :title => 'Facebook', :class => 'current'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x263a;".html_safe}
    %span.screen-reader-text Facebook
  %a{:href => "https://www.twitter.com/viewthought", :title => 'Twitter'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x270d;".html_safe}
    %span.screen-reader-text Twitter
  %a{:href => "https://www.github.com/viewthought", :title => 'Github'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x26bc;".html_safe}
    %span.screen-reader-text Github
  %a{:href => "http://www.linkedin.com/company/viewthought", :title => 'LinkedIn'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x260d;".html_safe}
    %span.screen-reader-text LinkedIn
  -# %a{:href => "#", :title => 'Flickr'}
  -#   %span{"aria-hidden" => "true", "data-icon" => "&#x278e;".html_safe}
  -#   %span.screen-reader-text Flickr
