%ul.social-links
  %li
    %a{:href => "https://www.facebook.com/viewthought", :title => 'Facebook'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x66;".html_safe}
      %span.screen-reader-text Facebook
  %li
    %a{:href => "https://www.twitter.com/viewthought", :title => 'Twitter'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x74;".html_safe}
      %span.screen-reader-text Twitter
  %li
    %a{:href => "https://www.github.com/viewthought", :title => 'Github'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x67;".html_safe}
      %span.screen-reader-text Github
  %li
    %a{:href => "http://www.linkedin.com/company/viewthought", :title => 'LinkedIn'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x6c;".html_safe}
      %span.screen-reader-text LinkedIn
  %li
    %a{:href => "#", :title => 'Flickr'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x70;".html_safe}
      %span.screen-reader-text Flickr
