%form
  %fieldset
    %ol
      %li
        %label Full name
        %input
      %li
        %label Email address
        %input
      %li
        %label Phone number
        %input
      %li
        %label Tell us a little about your project
        %textarea
      %li
        %button Send
