%form
  %fieldset
    %p
      %span.infield-label
        %label{:for => 'full_name'} Full name
        %input{:name => 'full_name', :id => 'full_name', :type => 'text'}
    %p
      %span.infield-label
        %label{:for => 'email_address'} Email address
        %input{:name => 'email_address', :id => 'email_address', :type => 'text'}
    %p
      %span.infield-label
        %label{:for => 'phone_number'} Phone number
        %input{:name => 'phone_number', :id => 'phone_number', :type => 'text'}
    %p
      %span.infield-label
        %label{:for => 'project-info'} Tell us a little about your project
        %textarea{:id => 'project-info'}
    %p.button
      %span.infield-label
        %button Send
