<iframe
  width="100%"
  height="100%"
  frameborder="0"
  scrolling="no"
  marginheight="0"
  marginwidth="0"
  src="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;q=West+Palm+Beach,+Florida&amp;ie=UTF8&amp;hq=&amp;hnear=West+Palm+Beach,+Palm+Beach,+Florida&amp;gl=us&amp;t=m&amp;ll=26.714947,-80.059433&amp;spn=0.147204,0.219727&amp;z=12&amp;output=embed">
</iframe>
<!--br />
<small>
  <a href="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;q=West+Palm+Beach,+Florida&amp;ie=UTF8&amp;hq=&amp;hnear=West+Palm+Beach,+Palm+Beach,+Florida&amp;gl=us&amp;t=m&amp;ll=26.714947,-80.059433&amp;spn=0.147204,0.219727&amp;z=12&amp;source=embed"
    style="color:#0000FF;text-align:left">View Larger Map</a>
</small-->
