%h3 Related Sites
%ul
  %li
    %a{:href => 'http://railsviews.com', :title => ''} RailsViews.com
  %li
    %a{:href => 'http://thefrontendcodemanifesto.com', :title => ''} TheFrontEndCodeManifesto.com
