= currently_at 'Contact'
- content_for :title do
  Contact

%section#contact-hero
  #map
  #who-we-are
    .container
      .who-we-are
        %p We are a Ruby on Rails development shop located in West Palm Beach, Florida.
  %a{:href => '#email-us', :title => 'Scroll Down', :class => 'contact-hero-down'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#email-us
  .container
    .email-us
      .email-button
        %button hello@viewthought.com
      %p We specialize in mobile Web development, design, usability testing, and we can help your team migrate an existing website to mobile.
  %a{:href => '#contact-form', :title => 'Scroll Down', :class => 'email-us-down'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#contact-form
  %p We would love to speak with you about your project! Feel free to call, email, or complete the inquiry form below and hit send.
  = render :partial => 'pages/contact_form_long'
