- content_for :title do
  Contact

%section#contact-form
  .container
    .contact-intro
      %p We would love to speak with you about your project! Feel free to call, email, or complete the inquiry form and hit send.
    .contact-form
      = render :partial => 'pages/contact_form'
  %a{:href => '#email-us', :title => 'Scroll Down', :class => 'contact-hero-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#email-us
  .container
    .email-us
      %p ViewThought specializes in mobile Web design and development, usability testing, and we can help your team migrate an existing website to mobile.
      .email-button
        %span Email Us:&nbsp;&nbsp;&nbsp;
        %a{:href => 'mailto:hello@viewthought.com', :title => 'Send us an email', :class => 'button'} hello@viewthought.com
  %a{:href => '#contact-map', :title => 'Scroll Down', :class => 'email-us-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#contact-map
  #map
  #who-we-are
    .container
      .who-we-are
        %p ViewThought is a Ruby on Rails development shop located in West Palm Beach, Florida.
  -# %a{:href => '#skrollr-body', :title => 'Scroll to top', :class => 'arrow-up-anchor autoblur'} top
  %a{:href => '#skrollr-body', :title => 'Scroll Up', :class => 'contact-map-up autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f0;".html_safe}
    %span.screen-reader-text Scroll Up
