-#  ===========================
-#  Home
-#  ===========================

%section#photo-hero
  .container
    .tagline
      .first
        %h2 Builders of Mobile and Desktop Web Solutions
        %p We would be happy to design and build your website from scratch or improve on what you already have.
      .second
        %h2
          Take Your Business Website Mobile
        %p
          Going mobile? Need to make your site responsive?
          %span We can help your team migrate an existing website to mobile.
    .start-project
      %a{:href => '#contact-us', :title => '', :class => 'button scroll'} Start A Project
  %a{:href => '#about-us', :title => 'Scroll Down', :class => 'b-g-w scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#about-us
  .container
    .about-us
      %p ViewThought designs well thought out, intuitive online user experiences that look exceptional on any device.
      .devices
  %a{:href => '#how', :title => 'Scroll Down', :class => 'l-b-g-b-g scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#how
  .container
    .how
      %h2 How do we do it?
      %p To begin we follow a tried and true agile development process that delivers results.
  %a{:href => '#process', :title => 'Scroll Down', :class => 'b-g-w scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#process
  .container
    .process
      %h2#our-process Our Process
    %ul
      %li
        .circle
          %span{"aria-hidden" => "true", "data-icon" => "&#x2691;".html_safe}
        .discovery
          %h3 1. Discovery
          %p Through discovery we get to know you, your company, project, market, target audience, goals, key business requirements. We come to an understanding, a plan, and an agreement. From discovery we get to work!
      %li
        .circle
          %span{"aria-hidden" => "true", "data-icon" => "&#x2692;".html_safe}
        .development
          %h3 2. Development
          %p We follow in an iterative approach to development. We like to deploy often and frequently, and test test test.
      %li
        .circle
          %span{"aria-hidden" => "true", "data-icon" => "&#x27f3;".html_safe}
        .repeat
          %h3 3. Repeat
          %p The discovery process is ongoing and feeds into development. We value feedback: from you, your team, and most importantly your customers.
    .hire-button
      %a{:href => '#contact-us', :title => 'Send us a quick message.', :class => 'button scroll'} Want to Hire Us?
  %a{:href => '#passion', :title => 'Scroll Down', :class => 'd-g-g scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#passion
  .container
    .passion
      %h2 To really understand how passionate we are about our craft, how we think and what we can do for you, take a look at our e-books below.
  %a{:href => '#expertise', :title => 'Scroll Down', :class => 'g-w scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#expertise
  .container
    .manifesto
      .book
      .description
        %h2 The Front End Manifesto
        %p Written by the engineers at ViewThought, The Front End Manifesto provides developers with a comprehensive research-based HOW TO on best practices for writing well-organized, efficient, mobile to desktop, Front End Code: From a Ruby on Rails perspective.
        .manifesto-button
          %a{:href => 'https://github.com/maxxiimo/the-front-end-manifesto/blob/master/TOC.md#table-of-contents', :title => 'Take a look at The Front End Manifesto\'s TOC', :class => 'button'} Review
    .coding-design
      .book
      .description
        %h2 Coding Design
        %p With so many new device types and screen sizes, Web design is taking place in the browser: not Photoshop. Coding Design is an in-depth look at the ins and outs and best practices for creating and coding great design from the front-end developer's perspective and toolset: CSS3, HTML5, and a browser.
        .coding-design-button
          %a{:href => 'https://github.com/maxxiimo/coding-design/blob/master/TOC.md#table-of-contents', :title => 'Take a look at Coding Design\'s TOC', :class => 'button'} Review
  %a{:href => '#value', :title => 'Scroll Down', :class => 'd-g-g scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

-#  ===========================
-#  Work
-#  ===========================

%section#value
  .container
    .value
      %p
        The bottom line is that your business has a unique value proposition. Through our development process and experience we can help you communicate it. Take for example our website...
      %a{:href => 'https://github.com/maxxiimo/viewthought/tree/2-design-final', :title => 'ViewThought code base', :class => 'ipad'}
  %a{:href => '#story', :title => 'Scroll Down', :class => 'w-d-w scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#our-mission
  .container
    .our-mission#story
      %p Our website tells a story, the story of our own value proposition. We also like to think that it looks beautiful (in its own very simple way).
      %p.desktop
        %span Resize your browser
        and watch how it also responds to display size changes. Try it on a tablet or smart phone. We can do this for your website.
      %h2 Our Mission
      %ol
        %li
          %span Build solutions that enhance the value proposition of our customers &ndash; add value to their business.
        %li
          %span Integrate beauty, design and optimal user experience in application development.
        %li
          %span Address device constraints and opportunities while delivering consistent visual design.
  %a{:href => '#the-point', :title => 'Scroll Down', :class => 'd-g-g scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#the-point
  .container
    .the-point
      %blockquote
        %span{"aria-hidden" => "true", "data-icon" => "&#x275d;".html_safe, :class => 'giant-quote'}
        When you put great design and great code together, Web applications work well and look amazing across any device &ndash; no matter how big or small.
  %a{:href => '#technologies', :title => 'Scroll Down', :class => 'b-g-w scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#technologies
  .container
    .tech-icons
      %p The technologies we use to achieve this:
      -# %span.ir.all Ruby, jQuery, Git, Backbone.js, HTML, CSS, Haml, Sass
      %span.ir.ruby Ruby
      %span.ir.jquery jQuery
      %span.ir.git Git
      %span.ir.backbone Backbone.js
      %br
      %span.ir.html HTML
      %span.ir.css CSS
      %span.ir.haml Haml
      %span.ir.sass Sass

%section#tech-blurb
  .container
    .tech-blurb
      %p How about giving us a shot? We take pride in our work and aim to please.
  %a{:href => '#contact-us', :title => 'Scroll Down', :class => 'd-g-g scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

-#  ===========================
-#  Contact
-#  ===========================

%section#contact-us
  .container
    .contact-intro
      %p Let's talk about your project! Feel free to call, email, or complete the inquiry form and hit send.
      .contact-info
        = render :partial => 'shared/phone_number'
        = render :partial => 'shared/social_links'
    .contact-form
      = render :partial => 'pages/contact_form'
  %a{:href => '#email-us', :title => 'Scroll Down', :class => 'w-d-w scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#email-us
  .container
    .email-us
      %p We can help your team migrate an existing website to mobile, redesign  your current site, or build a new responsive site for you.
      .email-button
        %span Email Us:&nbsp;&nbsp;&nbsp;
        = render :partial => 'shared/email'
        -# %a{:href => 'mailto:hello@viewthought.com', :title => 'Send us an email', :class => 'button'} hello@viewthought.com
        -# %a{:href => 'mailto:&#104;e&#108;l&#111;@&#118;i&#101;w&#116;h&#111;u&#113;h&#116;.&#99;o&#109;', :title => 'Send us an email', :class => 'button'} &#104;e&#108;l&#111;@&#118;i&#101;w&#116;h&#111;u&#113;h&#116;.&#99;o&#109;
  %a{:href => '#in-person', :title => 'Scroll Down', :class => 'd-g-g scroll autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#in-person
  #map
  #map-overlay
    .container
      .map-overlay
        %p Want to meet in person around West Palm Beach, Florida? We'd love to.
    %a{:href => '#home', :title => 'Scroll Up', :class => 'w-d-w bottom-arrow scroll autoblur'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x27f0;".html_safe}
      %span.screen-reader-text Scroll Up
