.hero
  .tagline
    %h1 Let Us Help You Build Your Mobile Web Solution
    %p We would be happy to design and build your site from scratch or improve on what you have.
  .start-project
    %button Start A Project
    %a{:href => 'tel:561-320-1117', :title => 'Main Number'} 561-320-1117
.testimonial
  %blockquote At ViewThought we think about your business, market, key business requirements, and growth opportunities. We build technology solutions that not only look beautiful, but enhance your value proposition.
  %p - Chris Maxwell, founder of ViewThought
.book
  %img{:src => 'http://dummyimage.com/65x65/d4d4d4/fff.gif', :alt => '', :width => '65', :height => '65'}
  %h3 The Front End Manifesto
  %p
    The Front End Manifesto,
    %a{:href => 'https://github.com/maxxiimo/the-front-end-manifesto/blob/master/TOC.md#table-of-contents', :title => 'The Front End Manifesto TOC'} a freely available e-book
    written by the engineers at ViewThought, provides developers with a comprehensive research-based HOW TO on best practices for writing well organized, efficient, mobile and desktop, Front End Code: From a Ruby on Rails perspective.
