-#  ===========================
-#  Home
-#  ===========================

%section#photo-hero
  .container
    .tagline{"data-0" => "opacity: 1", "data-200" => "opacity: 0"}
      .first
        %h2 Builders of Mobile Web Solutions
        %p We would be happy to design and build your site from scratch or improve on what you already have.
      .second
        %h2
          Take Your Business Website Mobile
        %p
          Going mobile? Need to make your site responsive?
          %span Looking to optimize for mobile? We can help.
    .mobile-icons{"data-0" => "opacity: 1", "data-200" => "opacity: 0"}
      %span{"aria-hidden" => "true", "data-icon" => "&#x31;".html_safe, :class => 'desktop-computer'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x32;".html_safe}
      %span{"aria-hidden" => "true", "data-icon" => "&#x23e9;".html_safe}
      %span{"aria-hidden" => "true", "data-icon" => "&#x33;".html_safe, :class => 'tablet'}
      %span{"aria-hidden" => "true", "data-icon" => "&#x34;".html_safe}
    .start-project{"data-0" => "opacity: 1", "data-200" => "opacity: 0"}
      %a{:href => '#contact-form', :title => '', :class => 'button'} Start A Project
  %a{:href => '#blurb', :title => 'Scroll Down', :class => 'hero-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#blurb
  .container
    -# .blurb{"data-700-top" => "opacity: 0", "data-top" => "opacity: 1"}
    .blurb
      %p{"data-200" => "opacity: 0", "data-400" => "opacity: 1"} ViewThought designs well thought out, intuitive online user experiences that look exceptional on any device.
  %a{:href => '#how', :title => 'Scroll Down', :class => 'blurb-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#how
  .container
    -# .how{"data-800" => "opacity: 0", "data-1000" => "opacity: 1"}
    .how{"data-500" => "opacity: 0", "data-600" => "opacity: 1"}
      %h2 How do we do it?
      %p To begin we follow a tried and true agile development process that delivers results.
  %a{:href => '#process', :title => 'Scroll Down', :class => 'how-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#process
  .container
    .process
      %h2#our-process Our Process
    %ul
      %li
        .circle
          %span{"aria-hidden" => "true", "data-icon" => "&#x2691;".html_safe}
        .discovery
          %h3 1. Discovery
          %p Through discovery we get to know you, your company, project, market, target audience, goals, key business requirements. We come to an understanding, a plan, and an agreement. From discovery we get to work!
      %li
        .circle
          %span{"aria-hidden" => "true", "data-icon" => "&#x2692;".html_safe}
        .development
          %h3 2. Development
          %p We follow in an iterative approach to development, where all stakeholders are involved in producing your project&ndash;from start to finish. We like to deploy often and frequently, and test test test.
      %li
        .circle
          %span{"aria-hidden" => "true", "data-icon" => "&#x27f3;".html_safe}
        .repeat
          %h3 3. Repeat
          %p The discovery process is ongoing, and feeds into development. We value feedback: from you, your team, and most importantly your customers.
    .hire-button
      %a{:href => '#contact-form', :title => 'Send us a quick message.', :class => 'button'} Want to Hire Us?
  %a{:href => '#skills', :title => 'Scroll Down', :class => 'process-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

-#  ===========================
-#  Work
-#  ===========================

%section#skills
  .container
    .skills
      %h2 Do we have the skills? Can you trust us to deliver high-quality work?
  %a{:href => '#books', :title => 'Scroll Down', :class => 'skills-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#books
  .container
    %p.yes
      %span YES!
      To really understand how passionate we are about our craft &ndash; how we think and code &ndash; take a look at our e-book's below (required reading for every new member of our team)...
    .manifesto
      %h2 The Front End Manifesto
      %p Written by the engineers at ViewThought, The Front End Manifesto provides developers with a comprehensive research-based HOW TO on best practices for writing well organized, efficient, mobile to desktop, Front End Code: From a Ruby on Rails perspective.
      .manifesto-button
        %a{:href => 'https://github.com/maxxiimo/the-front-end-manifesto/blob/master/TOC.md#table-of-contents', :title => 'View The Front End Manifesto', :class => 'button', "data-200-bottom" => "transform:scale(0) rotate(0deg);opacity: 0;", "data--50-bottom" => "transform:scale(1) rotate(720deg);opacity:1;"} Review
    .coding-design
      %h2 Coding Design
      %p As the diversity of device types and sizes increases, Web design is increasingly taking place in the browser. Coding Design is an in depth look at the ins and outs and best practices for creating and coding great design from the front end developer's perspective and toolset: CSS3, HTML5, and a browser.
      .coding-design-button
        %a{:href => 'https://github.com/maxxiimo/coding-design/blob/master/TOC.md', :title => 'View Coding Design', :class => 'button', "data-200-bottom" => "transform:scale(0) rotate(0deg);opacity: 0;", "data--50-bottom" => "transform:scale(1) rotate(720deg);opacity:1;"} Review
  %a{:href => '#value', :title => 'Scroll Down', :class => 'manifesto-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#value
  .container
    .value
      %p
        The bottom line is that your business has a unique value proposition. Through our development process and experience we can help you communicate it.
        %span.hide-text Take for example our website...
      %a{:href => 'https://github.com/maxxiimo/viewthought/tree/2-design-final', :title => 'ViewThought code base', :class => 'ipad'}
  %a{:href => '#our-mission', :title => 'Scroll Down', :class => 'value-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#our-mission
  .container
    .our-mission
      %p Our website tells a story, the story of ViewThought's value proposition, how we can help you. On top of that, we like to think that it looks beautiful (in its own very simple way).
      %p.desktop And now for a little demonstration. Scroll down a little bit and you will see ViewThought's mission statement. On a desktop computer or even a tablet, lining up the boxes side-by-side makes sense, but on iPad mini or smart phone, there just isn't enough room. In fact there isn't enough room for these words. Resize your browser and watch how this website responds...
      %h2 Our Mission
      -# %ol{"data-bottom-top" => "left:100%", "data-100-bottom" => "left:25%;"}
      -# %ol{"data-bottom-top" => "transform:scale(0) rotate(0deg);opacity: 0;", "data--10-bottom" => "transform:scale(1) rotate(1440deg);opacity:1;"}
      %ol{"data-bottom-top" => "opacity: 0", "data--100-bottom" => "opacity: 1"}
        %li
          %span Build solutions that enhance the value proposition of our customers &ndash; add value to their business.
        %li
          %span Integrate beauty, design and optimal user experience in application development.
        %li
          %span Address device constraints and opportunities while delivering consistent visual design.
  %a{:href => '#the-point', :title => 'Scroll Down', :class => 'core-values-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#the-point
  .container
    .the-point
      %p The point of the demo is that with great design and great code we make mobile and Web applications work &ndash; and look amazing across any device &ndash; no matter how big or small.
  %a{:href => '#tech-icons', :title => 'Scroll Down', :class => 'the-point-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#tech-icons
  .container
    .tech-icons
      %p The technologies we use to do this:
      %span.ir Ruby, jQuery, Git, Backbone.js, HTML, CSS, Haml, Sass

%section#tech-blurb
  .container
    .tech-blurb
      %p How about giving us a shot? Our rates are reasonable, however, we do start at a minimum project commitment of $10,000. We promise you, you will be happy with our work.
  %a{:href => '#contact-form', :title => 'Scroll Down', :class => 'tech-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

-#  ===========================
-#  Contact
-#  ===========================

%section#contact-form
  .container
    .contact-intro
      %p Let's talk about your project! Feel free to call, email, or complete the inquiry form and hit send.
    .contact-form
      = render :partial => 'pages/contact_form'
  %a{:href => '#email-us', :title => 'Scroll Down', :class => 'contact-hero-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#email-us
  .container
    .email-us
      %p We specialize in mobile Web design and development, usability testing, and we can help your team migrate an existing website to mobile.
      .email-button
        %span Email Us:&nbsp;&nbsp;&nbsp;
        %a{:href => 'mailto:hello@viewthought.com', :title => 'Send us an email', :class => 'button'} hello@viewthought.com
  %a{:href => '#contact-map', :title => 'Scroll Down', :class => 'email-us-down autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#contact-map
  #map
  #who-we-are
    .container
      .who-we-are
        %p ViewThought is a Ruby on Rails development shop located in West Palm Beach, Florida.
  -# %a{:href => '#skrollr-body', :title => 'Scroll to top', :class => 'arrow-up-anchor autoblur'} top
  %a{:href => '#skrollr-body', :title => 'Scroll Up', :class => 'contact-map-up autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f0;".html_safe}
    %span.screen-reader-text Scroll Up
