= currently_at 'Home'

%section#hero
  .container
    .tagline{"data-0" => "opacity: 1", "data-200" => "opacity: 0"}
      %h2 Builders of Mobile and Desktop Web Solutions
      %p We would be happy to design and build your site from scratch or improve on what you already have.
    .start-project{"data-0" => "opacity: 1", "data-200" => "opacity: 0"}
      %button Start A Project
  %a{:href => '#blurb', :title => 'Scroll Down', :class => 'hero-down'} scroll

%section#blurb
  .container
    .blurb
      %p We design well thought out, intuitive online user experiences that look exceptional on any device.
  %a{:href => '#manifesto', :title => 'Scroll Down', :class => 'blurb-down'} scroll

%section#manifesto
  .container
    .manifesto
      %h2 The Front End Manifesto
      %p
        The Front End Manifesto,
        %a{:href => 'https://github.com/maxxiimo/the-front-end-manifesto/blob/master/TOC.md#table-of-contents', :title => 'The Front End Manifesto TOC'} a freely available e-book
        written by the engineers at ViewThought, provides developers with a comprehensive research-based HOW TO on best practices for writing well organized, efficient, mobile and desktop, Front End Code: From a Ruby on Rails perspective.
  %a{:href => '#quote', :title => 'Scroll Down', :class => 'manifesto-down'} scroll

%section#quote
  .container
    .quote{"data-400-top" => "opacity: 0", "data-top" => "opacity: 1"}
      %blockquote
        %span{"aria-hidden" => "true", "data-icon" => "&#x275d;".html_safe, :class => 'giant-quote'}
        A website should give its visitors immediate value, the moment they land on your site&ndash;no matter what device they use to get there.
        %span.ever-changing At ViewThought we think a lot about this, and how best to deliver value in an ever-changing technology landscape.
      %p Chris Maxwell, founder of ViewThought
      -# %blockquote
      -# %span{"aria-hidden" => "true", "data-icon" => "&#x275d;".html_safe, :class => 'giant-quote'}
      -#   ViewThought provides the handshake between beautiful design and logic.
      -#   %p John Dill, Creative Director at ViewThought
      -# %blockquote As a company we work together around the idea that what you see on the Web, no matter on what device, can and should be beautiful, easy-to-use and &ldquo;right&rdquo; for the device you're using.
  -# %a{:href => '#ft', :title => 'Scroll Down', :class => 'quote-down'} scroll
