%h2 Thoughts
%p Our latest thoughts on all things digital.
%dl
  %dt Information Architecture 101
  %dd January 15, 2013
  %dd The key to being successful in building your application splash page and/or console can be summed up in one word: Storytelling.
%h3 Related Sites
%ul
  %li
    %a{:href => 'http://railsviews.com', :title => ''} RailsViews.com
  %li
    %a{:href => 'http://thefrontendmanifesto.com', :title => ''} TheFrontEndManifesto.com
