= currently_at 'Thoughts'
- content_for :title do
  Thoughts

%h2 Thoughts
%p As a company we work together around the idea that what you see on the Web, no matter on what device, can and should be beautiful, easy-to-use and &ldquo;right&rdquo; for the device you're using.
%h3 Publications
%dl
  %dt Information Architecture 101
  %dd January 15, 2013
  %dd The key to being successful in building your application splash page and/or console can be summed up in one word: Storytelling.
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :mozallowfullscreen => "", :scrolling => "no", :src => "http://embed.ted.com/talks/jinha_lee_a_tool_that_lets_you_touch_pixels.html", :webkitallowfullscreen => "", :width => "560"}
%h3 Related Sites
%ul
  %li
    %a{:href => 'http://railsviews.com', :title => ''} RailsViews.com
  %li
    %a{:href => 'http://thefrontendmanifesto.com', :title => ''} TheFrontEndManifesto.com
