= currently_at 'Thoughts'
- content_for :title do
  Thoughts

%section#quote
  .container
    -# .quote{"data-400-top" => "opacity: 0", "data-top" => "opacity: 1"}
    .quote
      .one
        %blockquote
          %span{"aria-hidden" => "true", "data-icon" => "&#x275d;".html_safe, :class => 'giant-quote'}
          A website should provide its visitors with immediate value, the moment they land on a page&ndash;no matter what device they used to get there.
          %span.hide-text Here at ViewThought we think a lot about this and how best to deliver value in an ever-changing technology landscape.
        %p Chris Maxwell, founder of ViewThought
      .two
        %blockquote
          %span{"aria-hidden" => "true", "data-icon" => "&#x275d;".html_safe, :class => 'giant-quote'}
          Think of us as the handshake between beautiful design and logic.
      .three
        %blockquote
          %span{"aria-hidden" => "true", "data-icon" => "&#x275d;".html_safe, :class => 'giant-quote'}
          As a company we work together around the idea that what you see on the Web, no matter the device, should be easy-to-use and make sense for the device you're using.
      .four
        %blockquote
          %span{"aria-hidden" => "true", "data-icon" => "&#x275d;".html_safe, :class => 'giant-quote'}
          Our goal is to add value to the companies we serve. Give us a call or email us to learn more.
  %a{:href => 'javascript:;', :title => 'Next Slide', :id => 'prev', :class => 'autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x21d0;".html_safe}
    %span.screen-reader-text-left Previous Slide
  %a{:href => 'javascript:;', :title => 'Next Slide', :id => 'next', :class => 'autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x21d2;".html_safe}
    %span.screen-reader-text-right Next Slide
  #controls

-# %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :mozallowfullscreen => "", :scrolling => "no", :src => "http://embed.ted.com/talks/jinha_lee_a_tool_that_lets_you_touch_pixels.html", :webkitallowfullscreen => "", :width => "560"}
