= currently_at 'Case Studies'
- content_for :title do
  Case Studies

%section#value
  .container
    .value
      %p
        Your business has a unique value proposition. Through design and interaction we can help communicate this.
        %span.hide-text Through our unique experience in both web development and business&ndash;help to enhance it.
      %a{:href => 'https://github.com/maxxiimo/viewthought/tree/2-design-final', :title => 'ViewThought code base', :class => 'ipad'}
  %a{:href => '#our-process', :title => 'Scroll Down', :class => 'white-white autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#process
  .container
    .process.work-process
      %h2#our-process Our Process
    %ul
      %li
        .circle
          %span{"aria-hidden" => "true", "data-icon" => "&#x2691;".html_safe}
        .discovery
          %h3 1. Discovery
          %p Through discovery we get to know you, your company, project, market, target audience, goals, key business requirements. We come to an understanding, a plan, and an agreement. From discovery we get to work!
      %li
        .circle
          %span{"aria-hidden" => "true", "data-icon" => "&#x2692;".html_safe}
        .development
          %h3 2. Development
          %p We follow in an iterative approach to development, where all stakeholders are involved in producing your project&ndash;from start to finish. We like to deploy often and frequently, and test test test.
      %li
        .circle
          %span{"aria-hidden" => "true", "data-icon" => "&#x27f3;".html_safe}
        .repeat
          %h3 3. Repeat
          %p The discovery process is ongoing, and feeds into development. We value feedback: from you, your team, and most importantly your customers.
    .hire-button
      %a{:href => '/contact#contact-us', :title => 'Send us a quick message.', :class => 'button'} Want to Hire Us?
  %a{:href => '#case-study', :title => 'Scroll Down', :class => 'gray-gray autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down

%section#case-study
  .container
    .case-study
      %h2 Case Study
      %p La Postita Eco-cabins and Farm needed to boost their bottom line. They planned to accomplish this through improved marketing, increasing agricultural output, and by employing cost cutting measures. They came to ViewThought for help; specifically, to increase their share of the Costa Rican ecotourism market.
      #slidingDiv
        %p La Postita's website was key to their marketing strategy. The old website was built in 2006. With an international customer base and all advertising pointing to LaPostita.com, something new was badly needed. Their goals:
        %ul
          %li Modernize while maintaining the old look and feel
          %li Multilingual content: English, German and Spanish
          %li A responsive mobile experience
          %li A password-protected, role-based content management system
      %a.show_hide{:href => "#", :rel => "#slidingDiv"}
        Read More
  %a{:href => '#technologies', :title => 'Scroll Down', :class => 'white-white autoblur'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x27f1;".html_safe}
    %span.screen-reader-text Scroll Down
