- content_for :title do
  Work

%h2 Work
%p Well thought out, intuitive online user experiences that look exceptional on any device is our passion.
.portfolio
  = link_to image_tag('http://dummyimage.com/200x200/d4d4d4/fff.gif', :alt => '', :width => '200', :height => '200'), root_path, :title => ''
  = link_to image_tag('http://dummyimage.com/200x200/d4d4d4/fff.gif', :alt => '', :width => '200', :height => '200'), root_path, :title => ''
  = link_to image_tag('http://dummyimage.com/200x200/d4d4d4/fff.gif', :alt => '', :width => '200', :height => '200'), root_path, :title => ''
  = link_to image_tag('http://dummyimage.com/200x200/d4d4d4/fff.gif', :alt => '', :width => '200', :height => '200'), root_path, :title => ''
%p "ViewThought provides the handshake between beautiful design and logic." - John Dill, Creative Director at ViewThought

%h3 Our Code
%p
  If you'd really like to see what's under the hood, take a look at the
  %a{:href => 'https://github.com/maxxiimo/viewthought', :title => 'ViewThought code base'} code base
  for this site.

%h3 Core Competencies
%ul
  %li Ruby on Rails
  %li Mobile Web
  %li Cross device UI/UX
  %li Website and email templates
  %li Front end optimization
  %li Design
  %li Team augmentation
