= currently_at 'Work'
- content_for :title do
  Work

%section#value
  .container
    .value
      %p Your business has a unique value proposition. Through design and interaction we can help communicate this, and through our unique experience in both web development and business&ndash;help enhance it.
      %a{:href => 'https://github.com/maxxiimo/viewthought/tree/2-design-final', :title => 'ViewThought code base'}

%section#process
  .container
    .process
      %h2 Our Process
      %p We bring together great design and great code to make mobile and Web applications work, and look amazing across any device&ndash;no matter how big or small.
    .span
      .circle
        %span{"aria-hidden" => "true", "data-icon" => "&#x2691;".html_safe}
    .discovery
      %h3 1. Discovery
      %p Through discovery we get to know you, your company, project, market, target audience, goals, key business requirements, and so forth. We come to an understanding, a plan, and an agreement. From discovery we get to work!
    .span
      .circle
        %span{"aria-hidden" => "true", "data-icon" => "&#x2692;".html_safe}
    .development
      %h3 2. Development
      %p We believe in an iterative approach, where all stakeholders are involved in producing your project&ndash;from start to finish. We like to deploy often and frequently, iteratively, and with the goal of reaching perfection.
    .span
      .circle
        %span{"aria-hidden" => "true", "data-icon" => "&#x27f3;".html_safe}
    .repeat
      %h3 3. Repeat
      %p The discovery process never ends, but continuously feeds into development. We value feedback, from you, from your team, from your customers.
    .hire-button
      %button Want to Hire Us?

%section#case-study
  .container
    .case-study
      %h2 Case Study

%section#competencies
  .container
    .competencies
      %h2 Core Competencies
      %ul
        %li Build technology solutions that enhance the value proposition of our customers&ndash;add value to customer business.
        %li Integrate beauty, design and optimal user experience in application development.
        %li Address device constraints and opportunities while simultaneously delivering consistent visual design.
      %h3 Technologies We Love
