= currently_at 'Work'
- content_for :title do
  Work

%section#value
  .container
    .value
      %p Your business has a unique value proposition. Through design and interaction we can help communicate this, and with our unique experience in both web development and business, help enhance it.
      %a{:href => 'https://github.com/maxxiimo/viewthought/tree/2-design-final', :title => 'ViewThought code base'}

%section#process
  .container
    .process
      %h3 Our Process
      %p We bring together great design and great code to make mobile and Web applications work and look amazing across any device no matter how big or small.
      %p To do so we begin with a kickoff meeting, where we get to know you, your company, project, market, target audience, goals, key business requirements, and so forth. We come to an understanding, a plan, and an agreement. From there we get to work! We believe in an iterative approach, where all stakeholders are involved in producing your project from start to finish and in a manner that makes sense. We like to deploy often and frequently, iteratively, with the goal of reaching perfection. We take great pride in our work and would be honored to partner with you.
      %button Want to Hire Us?

%section#case-study
  .container
    .case-study
      %h3 Case Study

%section#competencies
  .container
    .competencies
      %h3 Core Competencies
      %ul
        %li Build technology solutions that enhance the value proposition of our customers &ndash; add value to customer business.
        %li Integrate beauty, design and optimal user experience in application development.
        %li Address device constraints and opportunities while simultaneously delivering consistent visual design.
