- content_for :title do
  Work

%h2 Work
%p.work-quote "ViewThought provides the handshake between beautiful design and logic." - John Dill, Creative Director at ViewThought
.who-we-are
  %h3 Who We Are
  %p We are a Ruby on Rails development shop located in West Palm Beach, Florida. We specialize in mobile Web development, design, usability testing, and we can fill any front end development gaps you may have on your team.
.portfolio
  = link_to image_tag('http://dummyimage.com/200x200/d4d4d4/fff.gif', :alt => '', :width => '200', :height => '200'), root_path, :title => ''
  = link_to image_tag('http://dummyimage.com/200x200/d4d4d4/fff.gif', :alt => '', :width => '200', :height => '200'), root_path, :title => ''
  = link_to image_tag('http://dummyimage.com/200x200/d4d4d4/fff.gif', :alt => '', :width => '200', :height => '200'), root_path, :title => ''
  = link_to image_tag('http://dummyimage.com/200x200/d4d4d4/fff.gif', :alt => '', :width => '200', :height => '200'), root_path, :title => ''
.core-competencies
  %h3 Core Competencies
  %ul
    %li Build technology solutions that enhance the value proposition of our customers &ndash; add value to customer business.
    %li Integrate beauty, design and optimal user experience in application development.
    %li Address device constraints and opportunities while simultaneously delivering consistent visual design.
.our-code
  %h3 Our Code
  %p
    If you'd really like to see what's under the hood, take a look at the
    %a{:href => 'https://github.com/maxxiimo/viewthought', :title => 'ViewThought code base'} code base
    for this site.
