/*  Modular Scale
  -----------------------

// http://modularscale.com/scale/?px1=16&px2=30&ra1=1.618&ra2=0

// 16px  @ 1:1.618 - base font size
// 30px  @ 1:1.618 - logo font size


/*  Fonts
  -----------------------

// stacks...

// http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/

$arial:             Arial, "Helvetica Neue", Helvetica, sans-serif
$verdana:           Verdana, Geneva, Tahoma, sans-serif
$geneva:            Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif
$georgia:           Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif

// typekit...

$quatro:            quatro, "Arial Black", Verdana, "Droid Sans", sans-serif
$facitweb:          "jaf-facitweb", Verdana, Geneva, Tahoma, sans-serif
$rooney:            "rooney-web", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif
$camingodos:        "camingodos-web", sans-serif

// $web-pro:           ff-meta-serif-web-pro-1, ff-meta-serif-web-pro-2, Georgia, "Times New Roman", serif

// google web fonts (combinations)...

$cantata:           "Cantata One", Georgia, serif
$imprima:           Imprima, Verdana, Helvetica, sans-serif

$allerta:           Allerta, Helvetica, Arial, sans-serif
$crimson:           Crimson Text, Georgia, Times, serif

$arvo:              Arvo, Georgia, Times, serif
$pt-sans:           "PT Sans", Helvetica, Arial, sans-serif

$droid-serif:       "Droid Serif", Georgia, Times, serif
$droid-sans:        "Droid Sans", Helvetica, Arial, sans-serif

// base definitions...

$base-font-family:  $rooney       !default
$base-font-size:    100%          !default
$base-font-color:   #444          !default
$base-line-height:  1.618         !default

// 1.618 - 0.105 = 1.513
// 1.618 - 0.236 = 1.382
// 1.618 - 0.382 = 1.236

// header definitions...

$base-header-font:  $camingodos   !default
$base-header-color: #222          !default

// navigation definitions...

$base-nav-font:     $camingodos   !default

// icon fonts...

@font-face
  font-family: 'icon-fonts'
  font-weight: normal
  font-style: normal
  src: font-url('icon-fonts.eot')
  src: font-url('icon-fonts.eot?#iefix') format("embedded-opentype"), font-url('icon-fonts.svg#icon-fonts') format("svg"), font-url('icon-fonts.woff') format("woff"), font-url('icon-fonts.ttf') format("truetype")


/*  Colors
  -----------------------

// background...

$bg-body:           #fcfcfc
$bg-header:         #fcfcfc

// fonts...

$font-white:        #fff
$font-gray:         #ccc
// $font-tabs:
// $font-footer:
// $font-h1:
// $font-h2:
// $font-h3:

// links...

$link-normal:       #0645ad
$link-hover:        #3366bb
$link-active:       #669934
$link-visited:      #7f007f
$link-focus:        #669934

// icons...

$icon-normal:       #333
$icon-hover:        green
$icon-active:       #333
$icon-visited:      #333
$icon-focus:        #333

// miscellaneous...

$ruler:             #ddd
$spacer:            #fff
$highlight:         #00b5f1
$border:            #c3c3c3

// alerts...

$info-lgt:          #eaeff5
$info-drk:          #33689a
$success-lgt:       #f4f7f0
$success-drk:       #669934
$warning-lgt:       #ffffd9
$warning-drk:       #cc682a
$error-lgt:         #f9eae5
$error-drk:         #cf3303

// lgt-blu
// drk-blu
// lgt-grn
// drk-grn
// lgt-yo
// drk-oj
// lgt-red
// drk-red
