/*  Fonts
  -----------------------

$base-font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif !default
$base-font-size:    1em     !default
$base-font-color:   #222    !default
$base-line-height:  1.4     !default
// alternative…
// $base-font-size:    13px !default
// $base-line-height:  18px !default

// stacks...

$arial:             Arial, "Helvetica Neue", Helvetica, sans-serif
$georgia:           Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif
$verdana:           Verdana, Geneva, Tahoma, sans-serif
$geneva:            Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif
$arvo:              Arvo, Georgia, Times, serif


/*  Colors
  -----------------------

// background...

$bg-body:           #fcfcfc
$bg-header:         #fcfcfc

// fonts...

$font-white:        #fff
$font-gray:         #999
// $font-tabs:
// $font-footer:
// $font-h1:
// $font-h2:
// $font-h3:

// links...

$link-normal:       #0645ad
$link-hover:        #3366bb
$link-active:       #669934
$link-visited:      #7f007f
$link-focus:        #669934

// miscellaneous...

$ruler:             #ddd
$spacer:            #fff
$highlight:         #00b5f1
$border:            #c3c3c3

// alerts...

$info-lgt:          #eaeff5
$info-drk:          #33689a
$success-lgt:       #f4f7f0
$success-drk:       #669934
$warning-lgt:       #ffffd9
$warning-drk:       #cc682a
$error-lgt:         #f9eae5
$error-drk:         #cf3303

// lgt-blu
// drk-blu
// lgt-grn
// drk-grn
// lgt-yo
// drk-oj
// lgt-red
// drk-red


/*  Mixins
  -----------------------


