/* Icon Fonts
  -----------------------

@mixin data-icon
  font-family: 'icon-fonts'
  content: attr(data-icon)
  speak: none
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing: antialiased

// FIXME ccm: possibly consolidate with next?
@mixin icon-nav($icon-font-size, $icon-padding)
  a
    padding: 0 $icon-padding
    font-family: $base-font-nav
    font-size: $icon-font-size
    +link-colors($icon-normal, $icon-hover, $icon-active, $icon-visited, $icon-focus)
    &:hover
      text-decoration: none
    span
      // Fix for icon font clickability issue in WebKit
      display: inline-block


@mixin icon-nav-list($icon-font-size, $icon-padding)
  width: auto
  +horizontal-list
  li
    padding: 0 $icon-padding
  a
    font-size: $icon-font-size
    +link-colors($icon-normal, $icon-hover, $icon-active, $icon-visited, $icon-focus)
    &:hover
      text-decoration: none
    span
      // Fix for icon font clickability issue in WebKit
      display: inline-block


/* Gradients
  -----------------------

@mixin panel-shadow($opacity: 0.1)
  content: ""
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 7px
  +background-image(linear-gradient(rgba(0, 0, 0, $opacity) 0%, transparent 100%))

@mixin panel-gradient($color1, $color2)
  +background-image(linear-gradient(135deg, lighten($color1, 20), $color2))


/* Helpers
  -----------------------

@mixin hidden
  display: none !important
  visibility: hidden

@mixin reveal-hidden
  display: block !important
  visibility: visible

@mixin reveal-hidden-inline
  display: inline-block !important
  visibility: visible

// @mixin bleed($padding: $grid-padding, $sides: left right) {
//   @if $sides == 'all' {
//     margin: - $padding;
//     padding: $padding;
//   } @else {
//     @each $side in $sides {
//       margin-#{$side}: - $padding;
//       padding-#{$side}: $padding;
//     }
//   }
// }
