/*  Icon Fonts
  -----------------------

@mixin data-icon
  font-family: 'icon-fonts'
  content: attr(data-icon)
  speak: none
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing: antialiased
