/*  Main
  -----------------------

ul#nav
  +inline-block-list
  li
    // when not using compass use
    // display: inline-block
    padding: 0 20px
    a
      font-size: 15px
  li:first-child
    padding-left: 0
