/*
 * Important! Do *not* use Sprockets "require" syntax.
 * Use @import to include other stylesheets and Compass mixins.
 */


/* DEFINITIONS
  ============================================================================ */
@import "define";


/* MIXINS
  ============================================================================ */
@import "compass";


/* RESETS
  ============================================================================ */
@import "resets/normalize_h5bp";
// @import "resets/normalize";
// @import "compass/reset";
// @import "resets/reset_meyer";


/* BASIC STRUCTURE
  ============================================================================ */
@import "layout";
// @import "grids";


/* TYPOGRAPHY
  ============================================================================ */
@import "typography";


/* MISCELLANEOUS
  ============================================================================ */
@import "misc";
@import "sprites";


/* NAVIGATION
  ============================================================================ */
@import "navigation";


/* FORMS
  ============================================================================ */
@import "forms";


/* PAGES
  ============================================================================ */
@import "pages";


/* STAGING - new styles belong here !!!DO NOT INTEGRATE!!!
  ============================================================================ */
@import "staging";


/* APPLICATION - ad hoc code under this line
  ============================================================================ */

// to counter normalize indentation of lists, prefer not to
ol, ul {
  padding-left: 0;
}


/* LAST - second part of HTML 5 Boilerplate
  ============================================================================ */
@import "resets/normalize_h5bp_p2";
@import "resets/normalize_h5bp_p2_print";
