/* DEFINITIONS
  ============================================================================ */
@import "define";

// Susy Grid

$total-columns:     7;
$column-width:      4em;
$gutter-width:      1em;
$grid-padding:      $gutter-width;

$desktop:           12;
$tablet:            10;


/* MIXINS
  ============================================================================ */
@import "compass";
@import "media_queries";
@import "mixins";


/* RESETS
  ============================================================================ */
@import "boilerplate/h5bp_normalize_v102";

// To counter normalize indentation of lists.
ol, ul {
  padding-left: 0;
  list-style-position: inside;
}


/* BASIC STRUCTURE
  ============================================================================ */
@import "susy";
@import "desktop/layout";


/* TYPOGRAPHY
  ============================================================================ */
@import "desktop/typography";


/* MISCELLANEOUS
  ============================================================================ */
@import "desktop/misc";
@import "sprites";


/* NAVIGATION
  ============================================================================ */
@import "desktop/navigation";


/* FORMS
  ============================================================================ */
@import "desktop/forms";


/* PAGES
  ============================================================================ */
@import "desktop/pages";


/* STAGING - new styles belong here !!!DO NOT INTEGRATE!!!
  ============================================================================ */
@import "staging";


/* APPLICATION - ad hoc code under this line
  ============================================================================ */

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}


/* LAST
  ============================================================================ */
@import "boilerplate/h5bp_helpers";
@import "boilerplate/h5bp_print";
