/* DEFINITIONS
  ============================================================================ */
@import "define";

// Susy Grid

$total-columns:     4;
$column-width:      4.236em;
$gutter-width:      1em;
$grid-padding:      $gutter-width;

$break6:            6;


/* MIXINS
  ============================================================================ */
@import "compass";
@import "media_queries";
@import "mixins";


/* RESETS
  ============================================================================ */
@import "boilerplate/mobile_normalize_v201";

// To counter normalize indentation of lists, and reposition bullets.
ol, ul {
  padding-left: 0;
  list-style-position: inside;
}


/* BASIC STRUCTURE
  ============================================================================ */
@import "susy";
@import "mobile/layout";


/* TYPOGRAPHY
  ============================================================================ */
@import "mobile/typography";


/* MISCELLANEOUS
  ============================================================================ */
@import "misc";


/* FORMS
  ============================================================================ */
@import "mobile/forms";
@import "sassy-buttons";
@import "sassybuttons";


/* PAGES
  ============================================================================ */
@import "mobile/pages";


/* STAGING - new styles belong here !!!DO NOT INTEGRATE!!!
  ============================================================================ */
@import "mobile/staging";


/* APPLICATION - ad hoc code under this line
  ============================================================================ */

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}


/* LAST
  ============================================================================ */
@import "boilerplate/mobile_helpers";
