/[if lt IE 7 ]
  .chromeframe
    %p
      We can support Internet Explorer 6, and have done so many times for our customers over the years and will do so for you if required, but for this website we have decided not to for the following reasons:
    %ol
      %li Internet Explorer 6 use in the United States has declined to less than .2%:
        %a{:href => 'http://www.ie6countdown.com/', :title => ''} The Internet Explorer 6 Countdown
      %li Microsoft itself will end support for Internet Explorer 6, along with Microsoft XP, in less than a year:
        %a{:href => 'http://www.microsoft.com/en-us/windows/endofsupport.aspx', :title => ''} Windows XP SP3 and Office 2003 Support Ends April 8, 2014
      %li
        We can give our customers the option to
        %a{:href => "http://browsehappy.com/"} Upgrade to a different browser
        or
        %a{:href => "http://www.google.com/chromeframe/?redirect=true"} activate Google Chrome Frame
        to experience this site.
      %li Finally, by default our users will experience the mobile version of our site on  Internet Explorer, which may not have all the bells and whistles the regular experience, but it will be sufficient.
