/[if lt IE 7 ]
  .chromeframe
    %p We can support Internet Explorer 6, and have done so many times for our customers over the years and will do so for you if you need to support your customers still using Internet Explorer 6.
    %p For this website we have decided not to support Internet Explorer 6 for the following reasons:
    %ol
      %li
        It's use in the United States has declined to less than .2%:
        %br
        %a{:href => 'http://www.ie6countdown.com/', :title => ''} The Internet Explorer 6 Countdown
      %li
        Microsoft itself will end support with the end of Microsoft XP support in less than a year:
        %br
        %a{:href => 'http://www.microsoft.com/en-us/windows/endofsupport.aspx', :title => ''} Windows XP SP3 and Office 2003 Support Ends April 8, 2014
      %li
        It's common practice now to give customers options to upgrade in a message just like this, which only appears in Internet Explorer 6 browsers:
        %br
        %a{:href => "http://browsehappy.com/"} Upgrade to a different browser
        %br
        or
        %a{:href => "http://www.google.com/chromeframe/?redirect=true"} activate Google Chrome Frame
        to experience this website.
      %li Finally, by default our users will experience the mobile version of our site when browsing here with Internet Explorer 6, which may not have all the bells and whistles of the regular experience, but it will work.
