/[if lt IE 7 ]
  .chromeframe
    %p We can support Internet Explorer 6, and have done so many times for our customers over the years. We can do so for your customers if you would like us to, but for this website we have decided not to support Internet Explorer 6 for the following reasons:
    %ol
      %li
        It's use in the United States has declined to less than .2%:
        %a{:href => 'http://www.ie6countdown.com/', :title => ''} The Internet Explorer 6 Countdown
      %li
        Microsoft will end support for Microsoft XP in less than a year, and along with this Internet Explorer 6:
        %a{:href => 'http://www.microsoft.com/en-us/windows/endofsupport.aspx', :title => ''} Windows XP SP3 and Office 2003 Support Ends April 8, 2014
      %li
        It's common practice now to give customers options to upgrade; in a message that only appears in Internet Explorer 6 or older browsers:
        %div.warning
          %p
            Your browser is ancient!
            %a{:href => "http://browsehappy.com/"} Upgrade
            to a different browser
            or activate
            %a{:href => "http://www.google.com/chromeframe/?redirect=true"} Google Chrome Frame
            to experience this website.
      %li Finally, by default, as mobile first developers, our users will experience the mobile version of this site when browsing with Internet Explorer 6. The mobile version is optimized for mobile device limitations, and consequently will work on Internet Explorer 6.
