%head
  %meta{:charset => "utf-8"}
  %link{:rel => "dns-prefetch", :href => "//ajax.googleapis.com"}
  %link{:rel => "dns-prefetch", :href => "//maps.googleapis.com"}
  %link{:rel => "dns-prefetch", :href => "//use.typekit.net"}
  %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
  %title= content_for?(:title) ? ("ViewThought - " + yield(:title)) : "ViewThought"
  %meta{:name => "viewport", :content => "width=device-width"}

  -# Search Engine Optimization:
  %meta{:name => "description", :content => "Builders of Mobile and Desktop Web Solutions :: ViewThought designs well thought out, intuitive online user experiences that look exceptional on any device."}
  %meta{:name => "keywords", :content => "Ruby,Rails,Website,development,Graphic,design,agency,studio,West Palm Beach"}
  %meta{:prefix => "og: http://ogp.me/ns#", :property => "og:type", :content => "Article"}
  %meta{:prefix => "og: http://ogp.me/ns#", :property => "og:title", :content => "ViewThought"}
  %meta{:prefix => "og: http://ogp.me/ns#", :property => "og:description", :content => "Builders of Mobile and Desktop Web Solutions :: ViewThought designs well thought out, intuitive online user experiences that look exceptional on any device."}
  %meta{:prefix => "og: http://ogp.me/ns#", :property => "og:url", :content => "http://www.viewthought.com/"}
  %meta{:prefix => "og: http://ogp.me/ns#", :property => "og:site_name", :content => "ViewThought"}
  %meta{:name => "twitter:card", :content => "summary"}
  %meta{:name => "twitter:site", :content => "@viewthought"}
  %meta{:property => "article:published_time", :content => "2013-08-12"}
  %meta{:property => "article:modified_time", :content => "2013-08-14"}

  -# Microsoft tiles:
  -# %meta{:name => "ViewThought", :content => "#ffffff"}
  -# %meta{:name => "msapplication-square70x70logo", :content => "/tile/tiny.png"}
  -# %meta{:name => "msapplication-square150x150logo", :content => "/tile/square.png"}
  -# %meta{:name => "msapplication-wide310x150logo", :content => "/tile/wide.png"}
  -# %meta{:name => "msapplication-square310x310logo", :content => "/tile/large.png"}

  %link{:rel => "shortcut icon", :href => "/favicon.ico"}
  %link{:rel => "apple-touch-icon", :href => "/apple-touch-icon.png"}

  = stylesheet_link_tag "application"
  = javascript_include_tag 'modernizr.custom.80794'

  :javascript
    (function() {
      var config = {
        kitId: 'lhf6dru',
        scriptTimeout: 2000
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();

  = csrf_meta_tag
