%head
  %meta{:charset => "utf-8"}
  %link{:rel => "dns-prefetch", :href => "//ajax.googleapis.com"}
  %link{:rel => "dns-prefetch", :href => "//use.typekit.net"}
  -# %link{:rel => "dns-prefetch", :href => "//fonts.googleapis.com"}
  %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
  %title= content_for?(:title) ? ("ViewThought - " + yield(:title)) : "ViewThought"
  %meta{:name => "description", :content => "XXX"}
  %meta{:name => "viewport", :content => "width=device-width"}

  %link{:rel => "shortcut icon", :href => "/favicon.ico"}
  %link{:rel => "apple-touch-icon", :href => "/apple-touch-icon.png"}

  = stylesheet_link_tag "application"
  -# for production customize modernizr at: http://www.modernizr.com/download/
  = javascript_include_tag 'modernizr-2.6.2.min'

  %script{:src => "//use.typekit.net/lhf6dru.js"}
  = csrf_meta_tag
